# This file is sensitive since rules below may be used for restricting who can
# make access control changes.
/.github/CODEOWNERS @GSA-TTS/FAC-admins

# Changes to the following CI/CD directories will impact operational systems. Any PR involving these files should
# get a review from someone in FAC-admins
/.github/workflows/ @GSA-TTS/FAC-admins
/backend/manifests/ @GSA-TTS/FAC-admins

# Changes to the following Terraform directory will impact access control in cloud.gov spaces. Any PR involving these files should get a review from someone in FAC-admins.
/terraform/meta/ @GSA-TTS/FAC-admins

# Changes to the following Terraform directories will impact operational systems. Any PR involving these files
# should get a review from someone in FAC-Admins
/terraform/dev/ @GSA-TTS/FAC-admins
/terraform/staging/ @GSA-TTS/FAC-admins
/terraform/preview/ @GSA-TTS/FAC-admins
/terraform/production/ @GSA-TTS/FAC-admins
/terraform/sandbox/ @GSA-TTS/FAC-admins
/terraform/shared/modules/ @GSA-TTS/FAC-admins

# Changes to the list of staff users impacts access control to Django admin. Any PR involving this file should get a review from someone in FAC-Admins.
/backend/config/staffusers.json @GSA-TTS/FAC-admins
