{% extends "report_submission/step-base.html" %}
{% load static %}
{% block step-content %}
    <div class="grid-container margin-bottom-6">
        <form class="usa-form usa-form--large" id="check-eligibility" method="post">
            {% csrf_token %}
            <fieldset class="usa-fieldset">
                <legend class="usa-legend usa-legend--large">
                    Does your entity meet the single audit criteria?
                </legend>
                <p>
                    <abbr title="required" class="usa-hint usa-hint--required">*</abbr>Indicates a required field.
                </p>
                {% include "./user_provided_organization_type.html" %}
                <fieldset class="usa-fieldset question">
                    <legend class="usa-legend">
                        Did this entity spend an amount of federal awards meeting one of the following criteria during its audit period, in accordance with Uniform Guidance?
                        <abbr title="required" class="usa-hint usa-hint--required">*</abbr>
                        <ul>
                            {% for dollar_threshold in dollar_thresholds %}
                            <li>{{ dollar_threshold }}</li>
                            {% endfor %}
                        </ul>
                    </legend>
                    <div class="usa-radio">
                        <input class="usa-radio__input"
                               id="spend-yes"
                               name="met_spending_threshold"
                               value="true"
                               type="radio"
                               aria-required="true"
                               required/>
                        <label class="usa-radio__label" for="spend-yes">Yes</label>
                    </div>
                    <div class="usa-radio">
                        <input class="usa-radio__input"
                               id="spend-no"
                               name="met_spending_threshold"
                               value="false"
                               type="radio"
                               aria-required="true"
                               required/>
                        <label class="usa-radio__label" for="spend-no">No</label>
                        <span class="usa-error-message">You do not meet the requirements for submitting a single audit report.</span>
                    </div>
                </fieldset>
                <fieldset class="usa-fieldset question">
                    <legend class="usa-legend">
                        Is this entity based in a US State, Territory, or Commonwealth?
                        <abbr title="required" class="usa-hint usa-hint--required">*</abbr>
                    </legend>
                    <div class="usa-radio">
                        <input class="usa-radio__input"
                               id="us-yes"
                               name="is_usa_based"
                               value="true"
                               type="radio"
                               aria-required="true"
                               required/>
                        <label class="usa-radio__label" for="us-yes">Yes</label>
                    </div>
                    <div class="usa-radio">
                        <input class="usa-radio__input"
                               id="us-no"
                               name="is_usa_based"
                               value="false"
                               type="radio"
                               aria-required="true"
                               required/>
                        <label class="usa-radio__label" for="us-no">No</label>
                        <span class="usa-error-message">You only need to submit a report if the entity is based in the
                        U.S.</span>
                    </div>
                </fieldset>
                <ul class="usa-button-group">
                    <li class="usa-button-group__item">
                        <button class="usa-button" id="continue">Continue</button>
                    </li>
                    <li class="usa-button-group__item margin-left-4">{% include "../cancel-button.html" %}</li>
                </ul>
            </fieldset>
        </form>
    </div>
    <script src="{% static 'compiled/js/check-eligibility.js' %}"></script>
{% endblock step-content %}
