{% extends "report_submission/step-base.html" %}
{% load static %}
{% load sprite_helper %}
{% block step-content %}
    <div class="grid-container auditee-information">
        <div class="grid-row">
            <form class="usa-form usa-form--large tablet:grid-col"
                id="check-eligibility"
                data-fy-end-date=""
                method="post">
                {% csrf_token %}
                <fieldset class="usa-fieldset">
                    <legend class="usa-legend usa-legend--large">
                        Auditee information
                    </legend>
                    <span class="usa-error-message margin-top-2">{{ form.non_field_errors|striptags }}</span>
                    <p>
                        <abbr title="required" class="usa-hint usa-hint--required">*</abbr>Indicates a required field.
                    </p>
                    <div id="no-uei-warning" hidden>
                        <h2>
                            <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                                {% uswds_sprite "error_outline" %}
                            </svg>
                            Your UEI was not confirmed
                        </h2>
                        <p>
                            A UEI is required in order to proceed.
                        </p>
                    </div>
                    <p class="uei-explanation">
                        Search by Unique Entity Identifier (UEI) for your entity name in the SAM.gov
                        database.
                    </p>
                    <div class="usa-form-group">
                        <ul class="usa-error-message" id="auditee_uei-error-message" role="alert">
                            <li id="auditee_uei-not-null" hidden>Can&#39;t be null</li>
                            <li id="auditee_uei-length" hidden>UEI is twelve characters long</li>
                        </ul>
                        <span class="usa-error-message margin-top-2">{{ form.auditee_uei.errors|striptags }}</span>
                        <div class="usa-search" role="search">
                            <label class="usa-sr-only" for="auditee_uei">Search</label>
                            <input class="usa-input"
                                id="auditee_uei"
                                type="search"
                                name="auditee_uei"
                                required
                                data-validate-not-null=""
                                data-validate-length="== 12"/>
                            <button class="usa-button"
                                id="auditee_uei-btn"
                                type="submit"
                                aria-controls="uei-search-result"
                                data-open-modal>
                                <span class="usa-search__submit-text">
                                    <img src="/static/img/usa-icons-bg/search--white.svg"
                                        class="usa-search__submit-icon"
                                        alt="Search"/>
                                    Search
                                </span>
                            </button>
                        </div>
                    </div>
                    <p class="uei-explanation">
                        Don’t know your UEI? You can find your UEI or register for a new UEI by visiting <a href="https://sam.gov/">SAM.gov</a>.
                    </p>
                    <div class="usa-form-group">
                        <label for="auditee_name" hidden>Auditee name</label>
                        <input class="usa-input"
                            id="auditee_name"
                            name="auditee_name"
                            disabled="true"
                            hidden />
                    </div>
                    <div class="usa-form-group validate-fy">
                        <ul class="usa-error-message"
                            id="fy-error-message"
                            role="alert"
                            tabindex="-1">
                        </ul>
                        <div class="usa-form-group">
                            <label class="usa-label"
                                id="auditee_fiscal_period_start-label"
                                for="auditee_fiscal_period_start">
                                Auditee fiscal period <strong>start</strong> date for this submission<abbr title="required" class="usa-hint usa-hint--required">*</abbr>
                            </label>
                            <div class="usa-hint" id="auditee_fiscal_period_start-hint">mm/dd/yyyy</div>
                            <div class="usa-date-picker">
                                <ul class="usa-error-message"
                                    id="auditee_fiscal_period_start-error-message"
                                    role="alert">
                                    <li id="auditee_fiscal_period_start-not-null" hidden>Can&#39;t be null</li>
                                </ul>
                                <span class="usa-error-message margin-top-2">{{ form.auditee_fiscal_period_start.errors|striptags }}</span>
                                <input class="usa-input"
                                    id="auditee_fiscal_period_start"
                                    name="auditee_fiscal_period_start"
                                    aria-labelledby="auditee_fiscal_period_start-label"
                                    aria-describedby="auditee_fiscal_period_start-hint"
                                    aria-required="true"
                                    required
                                    data-validate-not-null=""/>
                            </div>
                        </div>
                    </div>
                    <div class="usa-form-group validate-fy">
                        <div class="usa-form-group">
                            <label class="usa-label"
                                id="auditee_fiscal_period_end-label"
                                for="auditee_fiscal_period_end">
                                Auditee fiscal period <strong>end</strong> date for this submission<abbr title="required" class="usa-hint usa-hint--required">*</abbr>
                            </label>
                            <div class="usa-hint" id="auditee_fiscal_period_end-hint">mm/dd/yyyy</div>
                            <div class="usa-date-picker">
                                <ul class="usa-error-message"
                                    id="auditee_fiscal_period_end-error-message"
                                    role="alert">
                                    <li id="auditee_fiscal_period_end-not-null" hidden>Can&#39;t be null</li>
                                </ul>
                                <span class="usa-error-message margin-top-2">{{ form.auditee_fiscal_period_end.errors|striptags }}</span>
                                <input class="usa-input"
                                    id="auditee_fiscal_period_end"
                                    name="auditee_fiscal_period_end"
                                    aria-labelledby="auditee_fiscal_period_end-label"
                                    aria-describedby="auditee_fiscal_period_end-hint"
                                    aria-required="true"
                                    required
                                    data-validate-not-null=""/>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <ul class="usa-button-group">
                    <li class="usa-button-group__item">{% include "../cancel-button.html" %}</li>
                    <li class="usa-button-group__item">
                        <button class="usa-button" id="continue">Continue</button>
                    </li>
                </ul>
            </form>
            <div class="ueid-explanation tablet:grid-col usa-prose font-sans-sm">
                <h2>The unique entity identifier used by the FAC has changed.</h2>
                <p>
                    On April 4, 2022, the unique entity identifier used across the federal government changed from the DUNS
                    Number to the Unique Entity ID (generated by SAM.gov).
                </p>
                <ul>
                    <li>The Unique Entity ID is a 12-character alphanumeric ID assigned to an entity by SAM.gov.</li>
                    <li>As part of this transition, the DUNS Number has been removed.</li>
                    <li>Entity registration, searching, and data entry in the FAC now require use of the new Unique Entity ID.</li>
                </ul>
                <h2>What is a UEI?</h2>
                <p>
                    For more information about this transition, visit SAM.gov or the Federal Service Desk, FSD.gov. You can
                    search for help at FSD any time or request help from an FSD agent Monday–Friday 8 a.m. to 8 p.m. ET.
                </p>
            </div>
        </div>
    </div>
    </div>
    <div class="usa-modal usa-modal--lg uei-search-result loading"
        id="uei-search-result"
        aria-labelledby="uei-search-result-heading"
        aria-describedby="uei-search-result-description">
        <div class="usa-modal__content">
            <div class="usa-modal__main">
                <img src="/static/img/loader.svg" alt="loading"/>
                <h2 class="usa-modal__heading" id="uei-search-result-heading"></h2>
                <div class="usa-prose" id="uei-search-result-description"></div>
                <div class="usa-modal__footer">
                    <ul class="usa-button-group">
                        <li class="usa-button-group__item">
                            <button type="button" class="usa-button primary" data-close-modal></button>
                        </li>
                        <li class="usa-button-group__item">
                            <button type="button"
                                class="usa-button usa-button--unstyled padding-105 text-center secondary"
                                data-close-modal>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
            <button class="usa-button usa-modal__close"
                aria-label="Close this window"
                data-close-modal>
                <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                    {% uswds_sprite "close" %}
                </svg>
            </button>
        </div>
    </div>
    </div>
    <script src="{% static 'compiled/js/check-ueid.js' %}"></script>
{% endblock %}
