{% extends "base.html" %}
{% load static %}
{% block metatags %}
    <title>{{ post.title }}</title>
    <meta name="description" content="{{ post.meta_description }}" />
    <meta property="og:title" content="{{ post.title }}" />
    <meta property="og:site_name" content="Federal Audit Clearinghouse" />
    <meta property="og:description" content="{{ post.meta_description }}" />
    <meta property="og:type" content="website" />
{% endblock %}
{% block content %}
    <div class="grid-container margin-top-6">
        <div class="grid-row grid-gap">
            {% include "../sidenav.html" %}
            <form class="usa-form usa-form--large" id="{{ view_id }}" method="post">
                {% csrf_token %}
                <fieldset class="usa-fieldset">
                    <legend class="usa-legend usa-legend--large" id="{{ view_id }}">
                        {{ view_name }}
                    </legend>
                    <p>Enter the audit findings for your federal awards using the provided worksheet.</p>
                    <h4 class="usa-process-list__heading">Upload completed worksheet</h4>
                    <p>Save your completed worksheet as an XLSX file and upload it below.</p>
                    <div class="usa-form-group">
                        <input id="file-input-{{ view_id }}-xlsx"
                               class="usa-file-input"
                               type="file"
                               name="file-input-{{ view_id }}-xlsx"
                               aria-describedby="file-input-{{ view_id }}-xlsx"
                               accept=".xlsx"/>
                    </div>
                    <button class="usa-button" id="continue" disabled="disabled">Save and continue to next section</button>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="audit-metadata">
        <div class="grid-container">
            <dl class="grid-row grid-gap">
                <div class="tablet:grid-col-6">
                    <dt>
                        Entity name
                    </dt>
                    <dd>
                        {{ auditee_name | default_if_none:'' }}
                    </dd>
                </div>
                <div class="tablet:grid-col-6">
                    <dt>
                        Report ID
                    </dt>
                    <dd>
                        #{{ report_id | default_if_none:'' }}
                    </dd>
                </div>
                <div class="tablet:grid-col-6">
                    <dt>
                        UEI
                    </dt>
                    <dd>
                        {{ auditee_uei | default_if_none:'' }}
                    </dd>
                </div>
                <div class="tablet:grid-col-6">
                    <dt>
                        Type of entity
                    </dt>
                    <dd>
                        {{ user_provided_organization_type | default_if_none:'' }}
                    </dd>
                </div>
            </dl>
        </div>
    </div>
    <!-- Pass variables to JS as given alias -->
    {{ report_id | json_script:'sac_id' }}
    {{ view_id | json_script:'view_id' }}
    <script src="{% static 'compiled/js/upload-page.js' %}"></script>
{% endblock content %}
