{% extends "base.html" %}
{% load static %}
{% block content %}
    <header class="usa-header usa-header-basic bg-primary-darker">
        <div class="usa-nav-container">
            <div class="usa-navbar bg-primary-darker text-white width-full flex">
                <p class="margin-left-2">
                    <a href="/" class="text-gray-10">My audit submissions</a> »
                    <a href="{% url 'audit:SubmissionProgress' report_id %}"
                       class="text-gray-10">{{ auditee_name | default_if_none:'' }}</a> »
                    <span class="text-bold">{{ view_name }}</span>
                </p>
            </div>
        </div>
    </header>
    <div class="grid-container margin-top-6">
        <div class="grid-row">
            {% comment %} {% include "../sidenav.html" %} {% endcomment %}
            <form class="tablet:grid-col-8 tablet:grid-offset-2"
                  id="{{ view_id }}"
                  id_test="upload-page__form"
                  method="post">
                {% csrf_token %}
                <fieldset class="usa-fieldset">
                    <legend class="usa-legend usa-legend--large"
                            id="{{ view_id }}"
                            id_test="upload-page__legend">{{ view_name }}</legend>
                    <p>{{ instructions }}</p>
                    <h4 class="usa-process-list__heading margin-top-4">Upload completed worksheet</h4>
                    <p>Save your completed worksheet as an XLSX file and upload it below.</p>
                    <div class="usa-form-group">
                        <input id="file-input-{{ view_id }}-xlsx"
                               class="usa-file-input"
                               id_test="upload-page__file-input"
                               type="file"
                               name="file-input-{{ view_id }}-xlsx"
                               aria-describedby="file-input-{{ view_id }}-xlsx"
                               accept=".xlsx" />
                    </div>
                    {% if already_submitted %}
                        <p class="text-green" id="already-submitted">
                            A file has already been uploaded for this section. A successful reupload will overwrite your previous submission.
                        </p>
                    {% endif %}
                    <div hidden id="info_box" class="grid-row margin-bottom-3 margin-top-3"></div>
                    <button class="usa-button margin-bottom-8" id="continue" disabled="disabled">Return to Report Home</button>
                </fieldset>
            </form>
        </div>
    </div>
    {% include "audit-metadata.html" %}
    <!-- Pass variables to JS as given alias -->
    {{ report_id | json_script:'sac_id' }}
    {{ view_id | json_script:'view_id' }}
    <script src="{% static 'compiled/js/upload-page.js' %}"></script>
{% endblock content %}
