{% extends "base.html" %}
{% load static %}
{% block metatags %}
    <title>{{ post.title }}</title>
    <meta name="description" content="{{ post.meta_description }}" />
    <meta property="og:title" content="{{ post.title }}" />
    <meta property="og:site_name" content="Federal Audit Clearinghouse" />
    <meta property="og:description" content="{{ post.meta_description }}" />
    <meta property="og:type" content="website" />
{% endblock %}
{% block content %}
    <div class="grid-container margin-top-6">
        <div class="grid-row grid-gap">
            {% include "../sidenav.html" %}
            <form class="usa-form usa-form--large"
                  id="{{ view_id }}"
                  testid="upload-page__form"
                  method="post">
                {% csrf_token %}
                <fieldset class="usa-fieldset">
                    <legend class="usa-legend usa-legend--large"
                            id="{{ view_id }}"
                            testid="upload-page__legend">
                        {{ view_name }}
                    </legend>
                    <p>{{ instructions }}</p>
                    <h4 class="usa-process-list__heading">Upload completed worksheet</h4>
                    <p>Save your completed worksheet as an XLSX file and upload it below.</p>
                    <div class="usa-form-group">
                        <input id="file-input-{{ view_id }}-xlsx"
                               class="usa-file-input"
                               testid="upload-page__file-input"
                               type="file"
                               name="file-input-{{ view_id }}-xlsx"
                               aria-describedby="file-input-{{ view_id }}-xlsx"
                               accept=".xlsx"/>
                    </div>
                    {% if already_submitted %}
                        <p class="text-green" id="already-submitted">A file has already been uploaded for this section. A successful reupload will overwrite your previous submission.</p>
                    {% endif %}
                    <p hidden id="info_box"></p>
                    <button class="usa-button" id="continue" disabled="disabled">Continue to next section</button>
                </fieldset>
            </form>
        </div>
    </div>
    {% include "audit-metadata.html" %}
    <!-- Pass variables to JS as given alias -->
    {{ report_id | json_script:'sac_id' }}
    {{ view_id | json_script:'view_id' }}
    <script src="{% static 'compiled/js/upload-page.js' %}"></script>
{% endblock content %}
