{% extends "base.html" %}
{% load static %}
{% load sprite_helper %}
{% block content %}
    <div class="grid-container margin-y-8">
        <div class="grid-row" id="submission-checklist-summary">
            <div class="grid-col flex-12">
                <h1 class="font-sans-2xl margin-y-1">
                    Audit submissions
                </h1>
                <p class="text-base-darker margin-top-0">View the audit submissions associated with your profile.</p>
            </div>
            <div>
                <button class="usa-button grid-row margin-top-1"
                        href=""
                        aria-controls="modal-terms-conditions"
                        data-open-modal>
                    <svg class="usa-icon usa-icon--size-3 margin-right-1"
                         aria-hidden="true"
                         focusable="false"
                         role="img">
                        {% uswds_sprite "add" %}
                    </svg>
                    <span>New Audit Submission</span>
                </button>
            </div>
        </div>

        {% if data.in_progress_audits.len == 0 and data.completed_audits.len == 0 %}
            <p>No submissions found</p>
        {% else %}
            {% if data.in_progress_audits %}
                <h1 class="font-sans-xl display-inline-flex">
                    <svg class="usa-icon margin-right-1"
                            aria-hidden="true"
                            focusable="false"
                            role="img">
                        {% uswds_sprite "fac_progress" %}
                    </svg>
                    <span class="margin-left-1">In progress<span>
                </h1>
                <div class="grid-row" tabindex="0">
                    <table class="usa-table margin-top-0">
                        <caption class="text-normal">
                            The audit submissions listed below are in progress, and you are still able to edit them before submission. Select an audit submission by clicking on its Status to make changes and continue the submission process.
                        </caption>
                        <thead>
                            <tr>
                                <th class="status-column" data-sortable scope="col" role="columnheader">Status</th>
                                <th data-sortable scope="col" role="columnheader">Entity name</th>
                                <th data-sortable scope="col" role="columnheader">Report ID</th>
                                <th data-sortable scope="col" role="columnheader">
                                    Auditee
                                    <button class="usa-button--unstyled margin-top-0"
                                            aria-controls="modal-uei-info"
                                            data-open-modal>UEI</button>
                                </th>
                                <th data-sortable scope="col" role="columnheader">Fiscal period end date</th>
                                <th scope="col" role="columnheader">User Access</th>
                                <th scope="col" role="columnheader">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in data.in_progress_audits %}
                                <tr>
                                    <td>
                                        <a class="usa-link" href="{% url 'audit:SubmissionProgress' item.report_id %}">{{ item.submission_status }}</a>
                                        {% if item.submission_status in "Ready for Certification,Auditor Certified,Auditee Certified" %}
                                            <p class="margin-0">
                                                <a class="usa-link" href="{% url 'audit:UnlockAfterCertification' item.report_id %}">
                                                    (Unlock)
                                                </a>
                                            </p>
                                        {% endif %}
                                    </td>
                                    <td>{{ item.auditee_name }}</td>
                                    <td>{{ item.report_id }}</td>
                                    <td>{{ item.auditee_uei }}</td>
                                    <td>{{ item.fiscal_year_end_date }}</td>
                                    <td class="text-center">
                                        <a href="{% url 'audit:ManageSubmission' report_id=item.report_id %}" title="Manage report access">
                                            <svg class="usa-icon usa-icon--size-3 text-blue" aria-hidden="true" focusable="false" role="img">
                                                {% uswds_sprite "person_add" %}
                                            </svg>
                                        </a>
                                    </td>
                                    <td class="text-center">
                                        <a href="{% url 'audit:SubmissionProgress' report_id=item.report_id %}" title="Delete audit">
                                            <svg class="usa-icon usa-icon--size-3 text-red" aria-hidden="true" focusable="false" role="img">
                                                {% uswds_sprite "delete" %}
                                            </svg>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="usa-sr-only usa-table__announcement-region" aria-live="polite"></div>
                </div>

                <div class="usa-alert usa-alert--info margin-bottom-3">
                    <div class="usa-alert__body">
                        <h4 class="usa-alert__heading">Can't find a report listed here?</h2>

                        <p class="usa-alert__text padding-bottom-2">
                            Please have the user with access to the audit submission confirm your user access through the
                            <a class="usa-link"
                               href="{{ STATIC_SITE_URL }}audit-resources/user-access/"
                               target="_blank"
                               rel="noopener noreferrer">manage user access controls</a>
                            on the audit submission in question.  It may mean that your email address listed on the audit submission doesn't match the email associated with your Login.gov account.
                        </p>

                        <a class="usa-button usa-button--outline"
                           href="https://support.fac.gov/hc/en-us/sections/18797020894989-Submission-Access"
                           target="_blank"
                           rel="noopener noreferrer">View more support</a>
                    </div>
                </div>

            {% endif %}
            {% if data.completed_audits %}
                <h1 class="font-sans-xl display-inline-flex">
                    <svg class="usa-icon margin-right-1"
                        aria-hidden="true"
                        focusable="false"
                        role="img">
                        {% uswds_sprite "fac_completed" %}
                    </svg>
                    <span class="margin-left-1">Completed<span>
                </h1>
                <div class="grid-row" tabindex="0">
                    <table class="usa-table margin-top-0">
                        <caption class="text-normal">
                            <p class="margin-0">The audits listed below are with the FAC for processing and can't be edited.</p>
                            <ul>
                                <li>
                                    "Accepted" audits are complete and don't require further action by the auditee or auditor.
                                </li>
                                <li>
                                    "Submitted" audits are being processed for dissemination. If an audit's status remains at "Submitted" for more than 24 hours, please <a class="usa-link" href="https://support.fac.gov/hc/en-us/requests/new" target="_blank">submit a helpdesk ticket</a>.
                                </li>
                            </ul>
                        </caption>
                        <thead>
                            <tr>
                                <th data-sortable scope="col" role="columnheader">Status</th>
                                <th data-sortable scope="col" role="columnheader">Entity name</th>
                                <th data-sortable scope="col" role="columnheader">Report ID</th>
                                <th data-sortable scope="col" role="columnheader">
                                    Auditee
                                    <button class="usa-button--unstyled margin-top-0"
                                            aria-controls="modal-uei-info"
                                            data-open-modal>UEI</button>
                                </th>
                                <th data-sortable scope="col" role="columnheader">Fiscal period end date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in data.completed_audits %}
                                <tr>
                                    <td>
                                        <a class="usa-link" href="{% url 'audit:SubmissionProgress' item.report_id %}">
                                            {% if item.submission_status == "Disseminated" %}
                                                Accepted
                                            {% else %}
                                                {{ item.submission_status }}
                                            {% endif %}
                                        </a>
                                    </td>
                                    <td>{{ item.auditee_name }}</td>
                                    <td>{{ item.report_id }}</td>
                                    <td>{{ item.auditee_uei }}</td>
                                    <td>{{ item.fiscal_year_end_date }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="usa-sr-only usa-table__announcement-region" aria-live="polite"></div>
                </div>
            {% endif %}
        {% endif %}
        <div class="usa-modal flex-justify-start"
             id="modal-uei-info"
             aria-labelledby="modal-uei-info-heading"
             aria-describedby="modal-uei-info-description">
            <div class="usa-modal__content">
                <div class="usa-modal__main">
                    <h2 class="usa-modal__heading" id="modal-uei-info-heading">What is a Unique Entity Identifier (UEI)?</h2>
                    <div class="usa-prose" id="modal-uei-info-description">
                        <p>
                            The Unique Entity Identifier (UEI) for an awardee or recipient is an alphanumeric code created in
                            the System for Award Management (SAM.gov) that is used to uniquely identify specific commercial,
                            nonprofit, or business entities registered to do business with the federal government.
                        </p>
                    </div>
                </div>
                <button class="usa-button usa-modal__close"
                        aria-label="Close this window"
                        data-close-modal>
                    <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                        {% uswds_sprite "close" %}
                    </svg>
                </button>
            </div>
        </div>
        <div class="usa-modal usa-modal--lg flex-justify-start"
             id="modal-terms-conditions"
             aria-labelledby="modal-terms-conditions-heading"
             aria-describedby="modal-terms-conditions-description">
            <div class="usa-modal__content">
                <div class="padding-x-6 padding-bottom-4">
                    <h2 class="usa-modal__heading" id="modal-terms-conditions-heading">
                        New Audit Submission
                    </h2>
                    <div id="modal-terms-conditions-description">
                        <p class="text-bold">
                            Please review the Federal Audit Clearinghouse Terms and Conditions before beginning a new audit submission:
                        </p>
                        <p>
                            FAC.gov is a U.S. General Services Administration federal government service. This site collects
                            required documentation from organizations that spend <span class="text-bold">$750,000 or more</span> in federal grant funds in
                            a given year.
                        </p>
                        <p>
                            All use of FAC.gov will be monitored, recorded, and subject to audit by GSA staff and other
                            federal government authorities. By using this system, you consent to your use being monitored
                            and recorded.
                        </p>
                        <p>
                            Unauthorized use is prohibited, and individuals found performing unauthorized activities are
                            subject to disciplinary action including criminal prosecution.
                        </p>
                        <p>
                            If you have questions about these conditions, please email <a class="usa-link" href="mailto:fac-support@gsa.gov">fac-support@gsa.gov</a>.
                        </p>
                    </div>
                    <form id="start-new-submission" class="usa-form usa-form--large">
                        <div class="usa-checkbox margin-y-4">
                            <input id="check-start-new-submission"
                                   class="usa-checkbox__input"
                                   type="checkbox"/>
                            <label class="usa-checkbox__label" for="check-start-new-submission">
                                I agree to the
                                <button id="terms-conditions-trigger"
                                        class="usa-button--unstyled margin-top-0"
                                        aria-controls="modal-terms-conditions"
                                        data-open-modal>
                                    terms and
                                    conditions.
                                </button>
                                <abbr title="required" class="usa-hint usa-hint--required">*</abbr>
                            </label>
                        </div>
                        <div class="usa-button-group">
                            <input type="submit"
                                   id="start-submission"
                                   class="usa-button"
                                   value="Begin New Submission"
                                   disabled/>
                            <a class="usa-button usa-button--unstyled margin-left-2" id="cancel-start-submission" aria-label="Close this window" data-close-modal>Cancel</a>
                        </div>
                    </form>
                </div>
                <button class="usa-button usa-modal__close"
                        aria-label="Close this window"
                        data-close-modal>
                    <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                        {% uswds_sprite "close" %}
                    </svg>
                </button>
            </div>
        </div>
    </div>
    <script src="{% static 'compiled/js/audit_submissions.js' %}"
            type="text/javascript"></script>
{% endblock content %}
