{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="grid-container margin-top-6">
        <div class="grid-row">
            <form class="grid-col-8 grid-offset-2"
                  id="auditor-certification-step-1"
                  method="post">
                {% csrf_token %}
                <fieldset class="usa-fieldset padding-bottom-2">
                    <legend class="usa-legend usa-legend--large" id="auditor-certification">Auditor certification checklist</legend>
                    <h3>Check the box next to each item confirm your report meets the requirements.</h3>
                    <p class="text-base">You must check all boxes in order to certify your single audit.</p>
                    <div class="usa-checkbox margin-top-4">
                        <input id="is_OMB_limited"
                               name="is_OMB_limited"
                               class="usa-checkbox__input"
                               required
                               type="checkbox"
                               value="True"
                               {% if form.cleaned_data.is_OMB_limited %}checked{% endif %} />
                        <label class="usa-checkbox__label" for="is_OMB_limited">
                            The SF-SAC contains only the data and information required by the Office of Management and Budget.
                        </label>
                        <span class="usa-error-message">{{ form.errors.is_OMB_limited|striptags }}</span>
                    </div>
                    <div class="usa-checkbox margin-top-4">
                        <input id="is_auditee_responsible"
                               name="is_auditee_responsible"
                               class="usa-checkbox__input"
                               required
                               type="checkbox"
                               value="True"
                               {% if form.cleaned_data.is_auditee_responsible %}checked{% endif %} />
                        <label class="usa-checkbox__label" for="is_auditee_responsible">
                            The auditee completed the Federal Awards workbook using the audit reporting package as required by the Uniform Guidance.
                        </label>
                        <span class="usa-error-message">{{ form.errors.is_auditee_responsible|striptags }}</span>
                    </div>
                    <div class="usa-checkbox margin-top-4">
                        <input id="has_used_auditors_report"
                               name="has_used_auditors_report"
                               class="usa-checkbox__input"
                               required
                               type="checkbox"
                               value="True"
                               {% if form.cleaned_data.has_used_auditors_report %}checked{% endif %} />
                        <label class="usa-checkbox__label" for="has_used_auditors_report">
                            The auditor completed the Federal Award Audit Findings and Audit Findings Text workbooks using the auditor's report.
                        </label>
                        <span class="usa-error-message">{{ form.errors.has_used_auditors_report|striptags }}</span>
                    </div>
                    <div class="usa-checkbox margin-top-4">
                        <input id="has_no_auditee_procedures"
                               name="has_no_auditee_procedures"
                               class="usa-checkbox__input"
                               {% comment %}
                               required
                               {% endcomment %}
                               type="checkbox"
                               value="True"
                               {% if form.cleaned_data.has_no_auditee_procedures %}checked{% endif %} />
                        <label class="usa-checkbox__label" for="has_no_auditee_procedures">
                            No auditor has performed any audit work since the completion of the auditor's report or the single audit submission workbooks.
                        </label>
                        <span class="usa-error-message">{{ form.errors.has_no_auditee_procedures|striptags }}</span>
                    </div>
                    <div class="usa-checkbox margin-top-4">
                        <input id="is_FAC_releasable"
                               name="is_FAC_releasable"
                               class="usa-checkbox__input"
                               required
                               type="checkbox"
                               value="True"
                               {% if form.cleaned_data.is_FAC_releasable %}checked{% endif %} />
                        <label class="usa-checkbox__label" for="is_FAC_releasable">
                            The full reporting package and auditor's report may shared publicly by the Federal Audit Clearinghouse or the report auditee, as required by the Uniform Guidance.
                        </label>
                        <span class="usa-error-message">{{ form.errors.is_FAC_releasable|striptags }}</span>
                    </div>
                </fieldset>
                <div class="grid-row margin-bottom-8 margin-top-10">
                    <button class="usa-button grid-col-5" id="continue">Agree to auditor certification</button>
                    <a class="usa-link margin-left-3 grid-col-2 flex-align-self-center"
                       href="/">Cancel</a>
                </div>
            </form>
        </div>
    </div>
    {% include "audit-metadata.html" %}
{% endblock content %}
