{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="grid-container margin-top-6">
  <div class="grid-row grid-gap">
      <form class="usa-form usa-form--large" id="cross-validation" method="post">
          {% csrf_token %}
          <fieldset class="usa-fieldset">
              <legend class="usa-legend usa-legend--large" id="federal-awards">
                  Perform Cross Validation
              </legend>
              <p>This is some text explaining that clicking the button below will check to see if the current state of the submission is considered valid.</p>
              <button class="usa-button" id="continue">Perform Cross Validation</button>
          </fieldset>
      </form>
  </div>
</div>
{% endblock content %}