{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="grid-container margin-top-6 margin-bottom-8">
        <div>
            {% csrf_token %}
            <div class="grid-col-12 tablet:grid-col-7">
                <legend class="usa-legend usa-legend--large font-sans-2xl">Manage user roles</legend>
                <legend class="usa-legend usa-legend--large text-normal font-sans-xl margin-top-4">
                    {% if auditee_name %}<p class="margin-0 text-bold">{{ auditee_name }}</p>{% endif %}
                    <p class="margin-0 text-semibold">
                        <strong>UEI:</strong> {{ auditee_uei }}
                    </p>
                </legend>
                <div class="font-sans-lg">
                    <p class="margin-bottom-1 margin-top-2">
                        <strong>Report ID:&nbsp;</strong>{{ report_id }}
                    </p>
                    <p class="margin-y-1">
                        <strong>Submission status:&nbsp;</strong>{{ status }}
                    </p>
                    <p class="margin-y-1">
                        <strong>Fiscal Year:&nbsp;</strong>{{ period }}
                    </p>
                </div>
            </div>
            <div class="font-sans-md margin-y-4">
                <p>The table below lists the individuals with access to this single audit submission.</p>
                <p>
                    There may only be one Auditee Certifying Official and one Auditor Certifying Official. These users must have different email addresses. Any substitution for these roles will remove the prior user.
                </p>
                {% comment %} 
                Uncomment when we can add/remove other types of editors.
                <p>
                    There is no limit to the number of Audit Editors. These users may edit and grant access to the single audit submission but cannot certify it.
                </p>
                {% endcomment %}
                <p>
                  To change an individual's role, click the "edit" link in the table. At this time, you may only change the certifying officials and this may only be done by the Audit Editor.
                </p>
            </div>
            <table class="usa-table margin-y-0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Role</th>
                        <th>Email address</th>
                        <th>Manage</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in entries %}
                        <tr>
                            <td>{{ entry.name }}</td>
                            <td>{{ entry.role }}</td>
                            <td>{{ entry.email }} {{ entry.never_logged_in_flag }}</td> 
                            <td>
                                {% if entry.role == 'Auditee Certifying Official' %}
                                    <a href="{{ change_cert_auditee_url }}">Edit</a>
                                {% elif entry.role == 'Auditor Certifying Official' %}
                                    <a href="{{ change_cert_auditor_url }}">Edit</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p class="font-sans-xs">(<strong>*</strong>) Indicates user has not logged in to view this submission.</p>
            <a class="usa-button usa-button margin-top-5"
                href="{{ add_editor_url }}"
                aria-controls="add-editor">Add editor</a>
            <a class="usa-button usa-button--unstyled margin-left-2"
                href="{{ progress_url }}"
                aria-controls="return-to-checklist">Return to checklist</a>
        </div>
    </div>
    {% include "audit-metadata.html" %}
{% endblock content %}
