{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="grid-container margin-top-6 margin-bottom-8">
        <div class="grid-row">
            <form class="tablet:grid-col-8 tablet:grid-offset-2"
                  id="auditor-certification-step-2"
                  method="post">
                {% csrf_token %}
                <fieldset class="usa-fieldset">
                    {% if role != "editor" %}
                        <h1 id="role-management">Change {{ friendly_role }}</h1>
                        <p class="font-sans-md">
                            There may only be one {{ friendly_role }} per single audit submission. By submitting a new official, you will be removing the current official listed below.
                        </p>
                        <p>
                            <strong>Name: </strong>{{ certifier_name }}
                        </p>
                        <p>
                            <strong>Email:</strong>{{ email }}
                        </p>
                    {% else %}
                        <h1 id="role-management">Add Audit Editor</h1>
                        <p class="font-sans-md">
                            Enter the name and email address of the new Audit Editor. Audit Editors may make changes to the single audit submission, as well as manage the roles of other users.
                        </p>
                    {% endif %}
                    <hr />
                    {% if errors %}
                        <ul>
                            {% for error in errors %}<li class="usa-error-message">{{ error }}</li>{% endfor %}
                        </ul>
                    {% endif %}
                    <label class="usa-label" for="fullname">New name:</label>
                    <input class="usa-input" id="name" name="fullname" placeholder="[name]" />
                    <label class="usa-label" for="email">New email address:</label>
                    <input class="usa-input"
                           id="email"
                           name="email"
                           placeholder="[email address]" />
                </fieldset>
                <button class="usa-button margin-top-5" id="continue">Submit</button>
                <a class="usa-button usa-button--unstyled margin-left-2"
                   href="{% url 'audit:ManageSubmission' report_id %}"
                   aria-controls="upload-cancel">Cancel</a>
            </form>
        </div>
    </div>
    {% include "audit-metadata.html" %}
{% endblock content %}
