{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="grid-container margin-top-6">
	<div class="usa-alert usa-alert--success margin-bottom-6">
		{% comment %} 
			Need several of these in various language, depending on which checklist item was 
			most recently completed. 
		{% endcomment %}
		<div class="usa-alert__body">
			<h4 class="usa-alert__heading">Audit submission created!</h4>
			<p class="usa-alert__text">
				he audit submisssion for {{auditee_name | default_if_none:''}} has been successfully created. 
				It may be accessed at any time by users with 
				<a class="usa-link" href="javascript:void(0);">report access</a>.
				To finish this audit submission package, please complete the tasks below. 
			</p>
		</div>
	</div>

	<div class="tablet:grid-col">
		<div class="grid-row margin-bottom-6">
			<div class="tablet:grid-col">
				<h1 class="border-base-light margin-top-0">{{ auditee_name | default_if_none:'' }}</h1>
				<p class="text-base-dark">Track your progress to complete a single audit submission. Some steps are locked after completion and cannot be edited once they are finalized. Once steps are unlocked, they may be completed in any order.</p> 
			</div>
			<div class="tablet:grid-col-auto">
				<button class="usa-button usa-button--outline">
						<!-- Temporary SVG solution to an icon not included with USWDS -->
						<svg class="usa-icon usa-icon--size-4" style="vertical-align: middle;" aria-hidden="true" focusable="false" role="img">
							<use xlink:href="/static/img/sprite.svg#person"></use>
							<circle id="plusBackground" cx="25" cy="25" r="11" color="white" />
							<use x=15 y=15 width=15 height=15  xlink:href="/static/img/sprite.svg#add_circle"></use>
						</svg>
						<span>Manage report access</span>
				</button>
			</div>
		</div>

		<ul class="usa-icon-list gap-sm">
			<!-- Single audit submission -->
			<li class="usa-icon-list__item padding-bottom-2">
				<div class="usa-icon-list__icon text-green">
					<svg class="usa-icon margin-right-2" aria-hidden="true" role="img">
						<use xlink:href="/static/img/sprite.svg#check_circle"></use>
					</svg>
				</div>
				<div class="usa-icon-list__content {% if single_audit_checklist.created is True %}text-green{% endif %}">
					<a class="usa-link text-bold" href="/report_submission/general-information/{{report_id}}">Create a single audit submission</a>
					<p class="margin-0">
						Begin your single audit submission by entering basic information about the auditee
						organization.
					</p>
					{% if single_audit_checklist.created is True %}
					<small class="text-base-dark">
						Completed {{ single_audit_checklist.created_date }} by
						<a href="javascript:void(0);" class="text-bold">
							{% if single_audit_checklist.created_by.first_name == '' %}
								{{ single_audit_checklist.created_by.email }}
							{% else %}
								{{ single_audit_checklist.created_by.first_name }} {{ single_audit_checklist.created_by.last_name }}
							{% endif %}
						</a>
						.
					</small>
					{% endif %}
				</div>
			</li>

			<!-- Federal awards workbook -->
			<li class="usa-icon-list__item padding-bottom-2">
				{% if federal_awards_workbook.completed == True %}
				<div class="usa-icon-list__icon text-green">
					<svg class="usa-icon margin-right-2" aria-hidden="true" role="img">
						<use xlink:href="/static/img/sprite.svg#check_circle"></use>
					</svg>
				</div>
				{% else %}
				<div class="usa-icon-list__icon text-base">
					<svg class="usa-icon margin-right-2" aria-hidden="true" role="img">
						<use xlink:href="/static/img/sprite.svg#radio_button_unchecked"></use>
					</svg>
				</div>
				{% endif %}
				<div class="usa-icon-list__content {% if federal_awards_workbook.completed is True %}text-green {% else %} text-base-dark {% endif %}">
					<a class="usa-link text-bold" href="/report_submission/federal-awards/{{report_id}}">Upload the Federal Awards workbook</a>
					<p class="margin-0">
						Provide general information on the auditee and auditor, financial statements for the auditee entity, and information on the entity's federal program compliance. 
					</p>
				</div>
			</li>

			<!-- Audit information workbook -->
			<li class="usa-icon-list__item padding-bottom-2">
				<div class="usa-icon-list__icon text-base">
					<svg class="usa-icon margin-right-2" aria-hidden="true" role="img">
						<use xlink:href="/static/img/sprite.svg#radio_button_unchecked"></use>
					</svg>
				</div>
				<div class="usa-icon-list__content {% if single_audit_checklist.completed is True %} text-green {% else %} text-base-dark {% endif %}">
					<a class="usa-link text-bold" href="javascript:void(0);">Upload the Audit Information workbook</a>
					<p class="margin-0">
						Sample description text, lorem ipsum, various questionably accurate latin phrases.
					</p>
				</div>
			</li>

			<!-- Findings text workbook -->
			<li class="usa-icon-list__item padding-bottom-2">
				<div class="usa-icon-list__icon {% if findings_text_workbook.completed == True %}text-green{% else %}text-base{% endif %}">
					<svg class="usa-icon margin-right-2" aria-hidden="true" role="img">
						{% if findings_text_workbook.completed == True %}
							<use xlink:href="/static/img/sprite.svg#check_circle"></use>
						{% else %}
							<use xlink:href="/static/img/sprite.svg#radio_button_unchecked"></use>
						{% endif %}
					</svg>
				</div>
				<div class="usa-icon-list__content {% if findings_text_workbook.created is True %} text-green {% else %} text-base-dark {% endif %}">
					{% if federal_awards_workbook.completed == True %}
						<a class="usa-link text-bold" href="/report_submission/audit-findings-text/{{ report_id | default_if_none:'' }}">Upload the Findings Text workbook</a>
					{% else %}
					<svg class="usa-icon margin-right-05" aria-hidden="true" role="img">
						<use xlink:href="/static/img/sprite.svg#lock_outline"></use>
					</svg>
					<span class="text-base">Upload the Findings Text workbook</span>
					{% endif %}
					<p class="margin-0">
						Sample description text, lorem ipsum, various questionably accurate latin phrases.
					</p>
				</div>
			</li>

			<!-- Audit findings workbook -->
			<li class="usa-icon-list__item padding-bottom-2">
				<div class="usa-icon-list__icon {% if audit_findings_workbook.completed == True %}text-green{% else %}text-base{% endif %}">
					<svg class="usa-icon margin-right-2" aria-hidden="true" role="img">
						{% if audit_findings_workbook.completed == True %}
							<use xlink:href="/static/img/sprite.svg#check_circle"></use>
						{% else %}
							<use xlink:href="/static/img/sprite.svg#radio_button_unchecked"></use>
						{% endif %}
					</svg>
				</div>
				<div class="usa-icon-list__content {% if audit_findings_workbook.created is True %} text-green {% else %} text-base-dark {% endif %}">
					{% if federal_awards_workbook.completed == True %}
						<a class="usa-link text-bold" href="/report_submission/audit-findings/{{ report_id | default_if_none:'' }}">Upload the Audit Findings workbook</a>
					{% else %}
						<svg class="usa-icon margin-right-05" aria-hidden="true" role="img">
							<use xlink:href="/static/img/sprite.svg#lock_outline"></use>
						</svg>
						<span class="text-base">Upload the Audit Findings workbook</span>
					{% endif %}
					<p class="margin-0">
						Sample description text, lorem ipsum, various questionably accurate latin phrases.
					</p>
				</div>
			</li>

			<li class="margin-top-4">
				Insert like, a bunch more of these upload pages.
			</li>

			<!-- Audit report PDF -->
			<li class="usa-icon-list__item padding-bottom-2 margin-top-6">
				<div class="usa-icon-list__icon {% if audit_report.completed == True %} text-green {% else %} text-base {% endif %}">
					<svg class="usa-icon margin-right-2" aria-hidden="true" role="img">
						{% if audit_report.completed == True %}
							<use xlink:href="/static/img/sprite.svg#check_circle"></use>
						{% else %}
							<use xlink:href="/static/img/sprite.svg#radio_button_unchecked"></use>
						{% endif %}
					</svg>
				</div>
				<div class="usa-icon-list__content {% if audit_report.created is True %} text-green {% else %} text-base-dark {% endif %}">
					<a class="usa-link text-bold" href="javascript:void(0);">Upload the audit report PDF</a>
					<p class="margin-0">
						Upload the single audit report package, or audit report. This should be a single, unlocked, and machine-readable PDF. This can be re-uploaded with updated versions as necessary until the report has been certified, at which point it cannot be edited or re-uploaded.
					</p>
				</div>
			</li>

			<!-- Auditor certification -->
			<li class="usa-icon-list__item padding-bottom-2">
				<div class="usa-icon-list__icon {% if certification.auditor_certified == True %} text-green {% else %} text-base {% endif %}">
					<svg class="usa-icon margin-right-2" aria-hidden="true" role="img">
						{% if certification.auditor_certified == True %}
							<use xlink:href="/static/img/sprite.svg#check_circle"></use>
						{% else %}
							<use xlink:href="/static/img/sprite.svg#radio_button_unchecked"></use>
						{% endif %}
					</svg>
				</div>
				<div class="usa-icon-list__content {% if certification.auditor_certified is True %} text-green {% else %} text-base-dark {% endif %}">
					{% if SF_SAC_completed == True and audit_report.completed == True %}
						<a class="usa-link text-bold" href="{% url 'audit:AuditorCertification' report_id=report_id %}">Auditor Certification</a>
					{% else %}
						<svg class="usa-icon margin-right-05" aria-hidden="true" role="img">
							<use xlink:href="/static/img/sprite.svg#lock_outline"></use>
						</svg>
						<span class="text-base">Auditor Certification</span>
					{% endif %}
					<p class="margin-0">
						The certifying auditor must attest and sign the single audit report before submission. This step is locked until after the SF-SAC and single audit report have been completed and uploaded in the previous steps.
					</p>
				</div>
			</li>

			<!-- Auditee certification -->
			<li class="usa-icon-list__item padding-bottom-2">
				<div class="usa-icon-list__icon {% if certification.auditee_certified == True %} text-green {% else %} text-base {% endif %}">
					<svg class="usa-icon margin-right-2" aria-hidden="true" role="img">
						{% if certification.auditee_certified == True %}
							<use xlink:href="/static/img/sprite.svg#check_circle"></use>
						{% else %}
							<use xlink:href="/static/img/sprite.svg#radio_button_unchecked"></use>
						{% endif %}
					</svg>
				</div>
				<div class="usa-icon-list__content {% if certification.auditee_certified is True %} text-green {% else %} text-base-dark {% endif %}">
					{% if SF_SAC_completed == True and audit_report.completed == True and certification.auditor_certified == True %}
						<a class="usa-link text-bold" href="{% url 'audit:AuditeeCertification' report_id=report_id %}">Auditee Certification</a>
					{% else %}
						<svg class="usa-icon margin-right-05" aria-hidden="true" role="img">
							<use xlink:href="/static/img/sprite.svg#lock_outline"></use>
						</svg>
						<span class="text-base">Auditee Certification</span>
					{% endif %}
					<p class="margin-0">
						After the SF-SAC and audit report have been completed and uploaded, the certifying auditee must attest and sign before an audit submission can be submitted.
					</p>
				</div>
			</li>

			<!-- Submit to FAC for processing -->
			<li class="usa-icon-list__item padding-bottom-2">
				<div class="usa-icon-list__icon {% if submission.completed == True %}text-green{% else %}text-base{% endif %}">
					<svg class="usa-icon margin-right-2" aria-hidden="true" role="img">
						{% if submission.completed == True %}
							<use xlink:href="/static/img/sprite.svg#check_circle"></use>
						{% else %}
							<use xlink:href="/static/img/sprite.svg#radio_button_unchecked"></use>
						{% endif %}
					</svg>
				</div>
				<div class="usa-icon-list__content {% if certification.auditee_certified is True %} text-green {% else %} text-base-dark {% endif %}">
					{% if SF_SAC_completed == True and audit_report.completed == True and certification.auditor_certified == True and certification.auditee_certified == True %}
						<a class="usa-link text-bold" href="{% url 'audit:Submission' report_id=report_id %}">Submit to FAC for processing</a>
					{% else %}
						<svg class="usa-icon margin-right-05" aria-hidden="true" role="img">
							<use xlink:href="/static/img/sprite.svg#lock_outline"></use>
						</svg>
						<span class="text-base">Submit to FAC for processing</span>
					{% endif %}
					<p class="margin-0">
						The certifying auditee must submit the final single audit submission to complete the audit process. Once this has been submitted, it cannot be undone.
					</p>
				</div>
			</li>
		</ul>
	</div>





	<div class="grid-row grid-gap margin-top-10">
		<div class="usa-checkbox">
			<input type="checkbox" disabled {% if single_audit_checklist.created is True %}checked{% endif %} />
			<span>Create a single audit submission</span>
			{% if single_audit_checklist.created is True %}
			<small>created by {{ single_audit_checklist.created_by.email }} at {{ single_audit_checklist.created_date
				}}</small>
			{% endif %}
		</div>
	</div>
	<div class="grid-row grid-gap">
		<div class="usa-checkbox">
			<input type="checkbox" disabled {% if single_audit_checklist.completed is True %}checked{% endif %} />
			<a href="{% url 'report_submission:general_information' report_id=report_id %}">Complete form SF-SAC</a>
		</div>
	</div>
	<div class="grid-row grid-gap">
		<div class="usa-checkbox">
			<input type="checkbox" disabled />
			<span>Upload the audit report PDF</span>
		</div>
		{% if single_audit_checklist.completed is True %}
		<small>completed by {{ single_audit_checklist.completed_by.email }} at {{ single_audit_checklist.completed_date
			}}</small>
		{% endif %}
	</div>
	<div class="grid-row grid-gap">
		<a href="{% url 'audit:ReadyForCertification' report_id=report_id %}">
			<div class="usa-button">Ready for Certification</div>
		</a>
	</div>
	<div class="grid-row grid-gap">
		<div class="usa-checkbox">
			<input type="checkbox" disabled {% if certification.auditor_certified is True %}checked{% endif %} />
			<a href="{% url 'audit:AuditorCertification' report_id=report_id %}">Auditor Certification</a>
		</div>
	</div>
	<div class="grid-row grid-gap">
		<div class="usa-checkbox">
			<input type="checkbox" disabled {% if certification.auditee_certified is True %}checked{% endif %} />
			<a href="{% url 'audit:AuditeeCertification' report_id=report_id %}">Auditee Certification</a>
		</div>
	</div>
	<div class="grid-row grid-gap">
		<div class="usa-checkbox">
			<input type="checkbox" disabled {% if submission.completed is True %}checked{% endif %} />
			<a href="{% url 'audit:Submission' report_id=report_id %}">Submit to the FAC for processing</a>
		</div>
	</div>
</div>
{% include "audit-metadata.html" %}
{% endblock content %}