{% extends "base.html" %}
{% load static %}
{% load sprite_helper %}
{% block content %}
    <!-- 
Submission progress/audit checklist/audit landing page.
TODO: Include the "Completed at X by Y", after timestamps are included in the data model. 
-->
    <header class="usa-header usa-header-basic bg-primary-darker">
        <div class="usa-nav-container">
            <div class="usa-navbar bg-primary-darker text-white width-full flex">
                <p class="margin-left-2">
                    <a href="/" class="text-gray-10">My audit submissions</a> »
                    <span class="text-bold">{{ auditee_name | default_if_none:'' }}</span>
                </p>
            </div>
        </div>
    </header>
    <div class="grid-container margin-top-6">
        <div class="usa-alert usa-alert--success margin-bottom-6">
            <div class="usa-alert__body">
                <!-- Success alert is NOT determined by most recently completed step.
			Instead, it is determined by the furthest completed step down the checklist.
It can be changed to time-dependence after timestamp changes. -->
                {% if audit_report.completed is True %}
                    <h4 class="usa-alert__heading">The audit report PDF has been uploaded!</h4>
                    <p class="usa-alert__text">
                        The audit report PDF has been uploaded and is attached to this report. If there is an issue with this PDF, you can
                        <a class="usa-link" href="javascript:void(0);">re-upload the document</a>.
                    </p>
                {% elif SF_SAC_completed is True %}
                    <h4 class="usa-alert__heading">The SF-SAC has been finalized!</h4>
                    <p class="usa-alert__text">
                        The SF-SAC has been finalized and is attached to this report. To complete this audit submission package, please complete the task list below and finalize the certification steps.
                    </p>
                {% elif single_audit_checklist.created is True %}
                    <h4 class="usa-alert__heading">Audit submission created!</h4>
                    <p class="usa-alert__text">
                        The audit submisssion for {{ auditee_name | default_if_none:'' }} has been successfully created.
                        It may be accessed at any time by users with
                        <a class="usa-link" href="javascript:void(0);">report access</a>.
                        To finish this audit submission package, please complete the tasks below.
                    </p>
                {% endif %}
            </div>
        </div>
        <div class="tablet:grid-col">
            <div class="grid-row margin-bottom-6">
                <div class="tablet:grid-col">
                    <h1 class="border-base-light margin-top-0">{{ auditee_name | default_if_none:'' }}</h1>
                    <p class="text-base-dark">
                        Track your progress to complete a single audit submission. Some steps are locked after completion and cannot be edited once they are finalized. Once steps are unlocked, they may be completed in any order.
                    </p>
                </div>
                <div class="tablet:grid-col-auto">
                    <button class="usa-button usa-button--outline grid-row">
                        <svg class="usa-icon usa-icon--size-3 margin-right-1"
                             aria-hidden="true"
                             focusable="false"
                             role="img">
                            {% uswds_sprite "person_add" %}
                        </svg>
                        <span class="padding-top-05">Manage report access</span>
                    </button>
                </div>
            </div>
            <ul class="usa-icon-list gap-sm">
                <!-- Single audit submission -->
                <li class="usa-icon-list__item padding-bottom-2">
                    <div class="usa-icon-list__icon text-green">
                        <svg class="usa-icon margin-right-2" aria-hidden="true" role="img">
                            {% uswds_sprite "check_circle" %}
                        </svg>
                    </div>
                    <div class="usa-icon-list__content {% if single_audit_checklist.created is True %}text-green{% endif %}">
                        <a class="usa-link text-bold"
                           href="/report_submission/general-information/{{ report_id }}">Create a single audit submission</a>
                        <p class="margin-0">
                            Begin your single audit submission by entering basic information about the auditee
                            organization.
                        </p>
                        {% if single_audit_checklist.created is True %}
                            <small class="text-base-dark">
                                Completed {{ single_audit_checklist.created_date }} by
                                <a href="javascript:void(0);" class="text-bold">
                                    {% if single_audit_checklist.created_by.first_name == '' %}
                                        {{ single_audit_checklist.created_by.email }}
                                    {% else %}
                                        {{ single_audit_checklist.created_by.first_name }} {{ single_audit_checklist.created_by.last_name }}
                                    {% endif %}
                                </a>
                                .
                            </small>
                        {% endif %}
                    </div>
                </li>
                <!-- Federal awards workbook -->
                <li class="usa-icon-list__item padding-bottom-2">
                    {% if federal_awards_workbook.completed == True %}
                        <div class="usa-icon-list__icon text-green">
                            <svg class="usa-icon margin-right-2" aria-hidden="true" role="img">
                                {% uswds_sprite "check_circle" %}
                            </svg>
                        </div>
                    {% else %}
                        <div class="usa-icon-list__icon text-base">
                            <svg class="usa-icon margin-right-2" aria-hidden="true" role="img">
                                {% uswds_sprite "radio_button_unchecked" %}
                            </svg>
                        </div>
                    {% endif %}
                    <div class="usa-icon-list__content {% if federal_awards_workbook.completed is True %}text-green {% else %} text-base-dark {% endif %}">
                        <a class="usa-link text-bold"
                           href="/report_submission/federal-awards/{{ report_id }}">Upload the Federal Awards workbook</a>
                        <p class="margin-0">
                            Provide general information on the auditee and auditor, financial statements for the auditee entity, and information on the entity's federal program compliance.
                        </p>
                    </div>
                </li>
                <!-- Audit information form -->
                <li class="usa-icon-list__item padding-bottom-2">
                    <div class="usa-icon-list__icon text-base">
                        <svg class="usa-icon margin-right-2" aria-hidden="true" role="img">
                            {% uswds_sprite "radio_button_unchecked" %}
						</svg>
					</div>
				{% endif %}
				<div class="usa-icon-list__content {% if federal_awards_workbook.completed is True %}text-green {% else %} text-base-dark {% endif %}">
					<a class="usa-link text-bold"
						href="/report_submission/federal-awards/{{ report_id }}">Upload the Federal Awards workbook</a>
					<p class="margin-0">
						This workbook should be completed by the auditee. For each federal award received, you'll need the financial and agency details. This is also where you list the number of audit findings.
					</p>
				</div>
			</li>
			<!-- Audit information workbook -->
			<li class="usa-icon-list__item padding-bottom-2">
				<div class="usa-icon-list__icon text-base">
					<svg class="usa-icon margin-right-2" aria-hidden="true" role="img">
                        {% uswds_sprite "radio_button_unchecked" %}
					</svg>
				</div>
				<div class="usa-icon-list__content {% if single_audit_checklist.completed is True %} text-green {% else %} text-base-dark {% endif %}">
					<a class="usa-link text-bold" href="javascript:void(0);">Upload the Federal Awards Audit Findings workbook</a>
					<p class="margin-0">
						This workbook is completed by both the auditee and auditor. Auditees complete this section using the Summary Schedule of Prior Audit Findings and Auditors complete this section using the information in the financial statement audit.
					</p>
					</div>
					</li>
			<!-- Audit findings workbook -->
			<li class="usa-icon-list__item padding-bottom-2">
				<div class="usa-icon-list__icon {% if audit_findings_workbook.completed == True %}text-green{% else %}text-base{% endif %}">
					<svg class="usa-icon margin-right-2" aria-hidden="true" role="img">
						{% if audit_findings_workbook.completed == True %}
                            {% uswds_sprite "check_circle" %}
						{% else %}
                            {% uswds_sprite "radio_button_unchecked" %}
						{% endif %}
					</svg>
				</div>
				<div class="usa-icon-list__content {% if audit_findings_workbook.created is True %} text-green {% else %} text-base-dark {% endif %}">
					<a class="usa-link text-bold"
						href="/report_submission/audit-findings/{{ report_id | default_if_none:'' }}">Upload the Federal Awards Audit Findings workbook</a>
					<p class="margin-0">
						This workbook is completed by both the auditee and auditor. Auditees complete this section using the Summary Schedule of Prior Audit Findings and Auditors complete this section using the information in the financial statement audit.
					</p>
					</div>
			</li>
			<!-- Findings text workbook -->
			<li class="usa-icon-list__item padding-bottom-2">
				<div class="usa-icon-list__icon {% if findings_text_workbook.completed == True %}text-green{% else %}text-base{% endif %}">
					<svg class="usa-icon margin-right-2" aria-hidden="true" role="img">
						{% if findings_text_workbook.completed == True %}
                            {% uswds_sprite "check_circle" %}
						{% else %}
                            {% uswds_sprite "radio_button_unchecked" %}
						{% endif %}
					</svg>
				</div>
				<div class="usa-icon-list__content {% if findings_text_workbook.created is True %} text-green {% else %} text-base-dark {% endif %}">
					<a class="usa-link text-bold"
						href="/report_submission/audit-findings-text/{{ report_id | default_if_none:'' }}">Upload the Audit Findings Text workbook</a>
						<p class="margin-0">
							This workbook is completed by the auditee. Enter the full text of the audit finding, listing each finding only once, even if they relate to more than one program. Include the audit finding reference number for each.
						</p>
						</div>
			</li>
			<!-- CAP -->
			<li class="usa-icon-list__item padding-bottom-2">
				<div class="usa-icon-list__icon {% if CAP_workbook.completed == True %}text-green{% else %}text-base{% endif %}">
					<svg class="usa-icon margin-right-2" aria-hidden="true" role="img">
						{% if CAP_workbook.completed == True %}
                            {% uswds_sprite "check_circle" %}
						{% else %}
                            {% uswds_sprite "radio_button_unchecked" %}
						{% endif %}
					</svg>
				</div>
				<div class="usa-icon-list__content {% if CAP_workbook.created is True %} text-green {% else %} text-base-dark {% endif %}">
					<a class="usa-link text-bold"
						href="/report_submission/CAP/{{ report_id | default_if_none:'' }}">Upload the Corrective Action Plan (CAP) workbook</a>
						<p class="margin-0">
							This workbook is completed by the auditee. The information should match to the data entered in the Findings Text workbook. Plans for findings relating to more than one program only need to be entered once.
						</p>
						</div>
			</li>
			<!-- Additional UEIs -->
			<li class="usa-icon-list__item padding-bottom-2">
				<div class="usa-icon-list__icon {% if additional_UEIs_workbook.completed == True %}text-green{% else %}text-base{% endif %}">
					<svg class="usa-icon margin-right-2" aria-hidden="true" role="img">
						{% if additional_UEIs_workbook.completed == True %}
                            {% uswds_sprite "check_circle" %}
						{% else %}
                            {% uswds_sprite "radio_button_unchecked" %}
						{% endif %}
					</svg>
				</div>
				<div class="usa-icon-list__content {% if additional_UEIs_workbook.created is True %} text-green {% else %} text-base-dark {% endif %}">
					<a class="usa-link text-bold"
						href="/report_submission/additional-ueis/{{ report_id | default_if_none:'' }}">Upload the Additional UEIs workbook</a>
						<p class="margin-0">
							This workbook is only necessary if the audit report covers multiple UEIs. It is completed by the auditee. List the additional UEIs covered by the audit, excluding the primary UEI.
						</p>
						</div>
			</li>
			<!-- Secondary Auditors -->
			<li class="usa-icon-list__item padding-bottom-2">
				<div class="usa-icon-list__icon {% if secondary_auditors_workbook.completed == True %}text-green{% else %}text-base{% endif %}">
					<svg class="usa-icon margin-right-2" aria-hidden="true" role="img">
						{% if secondary_auditors_workbook.completed == True %}
                            {% uswds_sprite "check_circle" %}
						{% else %}
                            {% uswds_sprite "radio_button_unchecked" %}
						{% endif %}
					</svg>
				</div>
				<div class="usa-icon-list__content {% if secondary_auditors_workbook.created is True %} text-green {% else %} text-base-dark {% endif %}">
					<a class="usa-link text-bold"
						href="/report_submission/secondary-auditors/{{ report_id | default_if_none:'' }}">Upload the Secondary Auditors workbook</a>
						<p class="margin-0">
							This workbook is only necessary if multiple auditors did the audit work. In these cases, the secondary auditors should enter their information in this workbook.
						</p>
						</div>
			</li>
			<!-- Ready for certification -->
			<a href="{% url 'audit:ReadyForCertification' report_id=report_id %}">
				<button class="usa-button">
					Ready for SF-SAC Certification
				</button>
			</a>
			<!-- Audit report PDF -->
			<li class="usa-icon-list__item padding-bottom-2 padding-top-2">
				<div class="usa-icon-list__icon {% if audit_report.completed == True %} text-green {% else %} text-base {% endif %}">
					<svg class="usa-icon margin-right-2" aria-hidden="true" role="img">
						{% if audit_report.completed == True %}
                            {% uswds_sprite "check_circle" %}
						{% else %}
                            {% uswds_sprite "radio_button_unchecked" %}
						{% endif %}
					</svg>
				</div>
				<div class="usa-icon-list__content {% if audit_report.created is True %} text-green {% else %} text-base-dark {% endif %}">
					<a class="usa-link text-bold" href="{% url 'audit:upload_report' report_id %}">Upload the audit report PDF</a>
					<p class="margin-0">
						Upload the single audit report package, or audit report. This should be a single, unlocked, and machine-readable PDF. This can be re-uploaded with updated versions as necessary until the report has been certified, at which point it cannot be edited or re-uploaded.
					</p>
				</div>
			</li>
			<!-- Auditor certification -->
			<li class="usa-icon-list__item padding-bottom-2">
				<div class="usa-icon-list__icon {% if certification.auditor_certified == True %} text-green {% else %} text-base {% endif %}">
					<svg class="usa-icon margin-right-2" aria-hidden="true" role="img">
						{% if certification.auditor_certified == True %}
                            {% uswds_sprite "check_circle" %}
						{% else %}
                            {% uswds_sprite "radio_button_unchecked" %}
						{% endif %}
					</svg>
				</div>
				<div class="usa-icon-list__content {% if certification.auditor_certified is True %} text-green {% else %} text-base-dark {% endif %}">
					{% if SF_SAC_completed == True and audit_report.completed == True %}
						<a class="usa-link text-bold"
							href="{% url 'audit:AuditorCertification' report_id=report_id %}">Auditor Certification</a>
					{% else %}
						<svg class="usa-icon margin-right-05" aria-hidden="true" role="img">
                            {% uswds_sprite "lock_outline" %}
						</svg>
						<span class="text-base">Auditor Certification (either certification order is fine)</span>
					{% endif %}
					<p class="margin-0">
						The certifying auditor must attest and sign the single audit report before submission. This step is locked until after the SF-SAC and single audit report have been completed and uploaded in the previous steps.
					</p>
				</div>
			</li>
			<!-- Auditee certification -->
			<li class="usa-icon-list__item padding-bottom-2">
				<div class="usa-icon-list__icon {% if certification.auditee_certified == True %} text-green {% else %} text-base {% endif %}">
					<svg class="usa-icon margin-right-2" aria-hidden="true" role="img">
						{% if certification.auditee_certified == True %}
                            {% uswds_sprite "check_circle" %}
						{% else %}
                            {% uswds_sprite "radio_button_unchecked" %}
						{% endif %}
					</svg>
				</div>
				<div class="usa-icon-list__content {% if certification.auditee_certified is True %} text-green {% else %} text-base-dark {% endif %}">
					{% if SF_SAC_completed == True and audit_report.completed == True and certification.auditor_certified == True %}
						<a class="usa-link text-bold"
							href="{% url 'audit:AuditeeCertification' report_id=report_id %}">Auditee Certification (either certification order is fine) </a>
					{% else %}
						<svg class="usa-icon margin-right-05" aria-hidden="true" role="img">
                            {% uswds_sprite "lock_outline" %}
						</svg>
						<span class="text-base">Auditee Certification</span>
					{% endif %}
					<p class="margin-0">
						The certifying auditee must attest and sign the single audit report before submission. This step is locked until after the SF-SAC and single audit report have been completed and uploaded in the previous steps.
					</p>
				</div>
			</li>
			<!-- Submit to FAC for processing -->
			<li class="usa-icon-list__item padding-bottom-2">
				<div class="usa-icon-list__icon {% if submission.completed == True %}text-green{% else %}text-base{% endif %}">
					<svg class="usa-icon margin-right-2" aria-hidden="true" role="img">
						{% if submission.completed == True %}
                            {% uswds_sprite "check_circle" %}
						{% else %}
                            {% uswds_sprite "radio_button_unchecked" %}
						{% endif %}
					</svg>
				</div>
				<div class="usa-icon-list__content {% if certification.auditee_certified is True %} text-green {% else %} text-base-dark {% endif %}">
					{% if SF_SAC_completed == True and audit_report.completed == True and certification.auditor_certified == True and certification.auditee_certified == True %}
						<a class="usa-link text-bold"
							href="{% url 'audit:Submission' report_id=report_id %}">Submit to FAC for processing</a>
					{% else %}
						<svg class="usa-icon margin-right-05" aria-hidden="true" role="img">
                            {% uswds_sprite "lock_outline" %}
						</svg>
						<span class="text-base">Submit to FAC for processing</span>
					{% endif %}
					<p class="margin-0">
						The certifying auditee must submit the final single audit submission to complete the audit process. Once this has been submitted, it cannot be undone.
					</p>
				</div>
			</li>
		</ul>
	</div>
</div>
{% include "audit-metadata.html" %} {% endblock content %}
