{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="grid-container margin-top-6 margin-bottom-10">
        <div class="grid-row">
            <form class="padding-x-6"
                  id="tribal-data-release"
                  method="post">
                {% csrf_token %}
                <fieldset class="usa-fieldset">
                    <h1 class="font-sans-2xl" id="title">Tribal data release</h1>
                    <p class="font-sans-lg text-bold">
                        Determine if the audit should make all information contained in the form SF-SAC and reporting package publicly available.
                    </p>

                    <div class="font-sans-md margin-top-2 margin-bottom-10">
                        <p class="margin-0">
                            If you suppress your reporting package, you must submit your reporting package directly to:
                        </p>
                        <ul class="margin-0">
                            <li>
                                any pass-through entities that awarded Federal funds; and
                            </li>
                            <li>
                                any pass-through entities with findings related to Federal awards listed on the summary schedule of prior audit findings
                            </li>
                        </ul>
                        <p class="font-sans-xs">
                            For the full citation, see Uniform Guidance <a class="usa-link" href="https://www.ecfr.gov/current/title-2/subtitle-A/chapter-II/part-200/subpart-F/subject-group-ECFRc3bd6ae97de5a40/section-200.512#p-200.512(b)(2)" target="_blank">2 CFR 200.512(b)(2)</a>
                        </p>
                    </div>

                    <fieldset class="usa-fieldset radio margin-bottom-6" id="question-opt-in-out">
                        <legend class="text-bold margin-bottom-3 font-sans-md">
                            I certify that, to the best of my knowledge and belief, the auditee has:
                        </legend>
                        <div class="usa-radio">
                            <input class="usa-radio__input"
                                   type="radio"
                                   id="is_tribal_information_authorized_to_be_public-yes"
                                   name="is_tribal_information_authorized_to_be_public"
                                   value="True"
                                   {% if is_tribal_information_authorized_to_be_public == True %}checked{% endif %} />
                            <label class="usa-radio__label font-sans-md"
                                   for="is_tribal_information_authorized_to_be_public-yes">
                                Qualified as an Indian Tribe or Tribal Organization and <strong>opts</strong> to authorize the FAC to make the reporting package publicly available.
                            </label>
                        </div>
                        <div class="usa-radio margin-y-4">
                            <input class="usa-radio__input"
                                   type="radio"
                                   id="is_tribal_information_authorized_to_be_public-no"
                                   name="is_tribal_information_authorized_to_be_public"
                                   value="False"
                                   {% comment %} If the value is saved as false, check this one. If nothing is saved, check this by default. {% endcomment %}
                                   {% if is_tribal_information_authorized_to_be_public == False or not is_tribal_information_authorized_to_be_public %}checked{% endif %} />
                            <label class="usa-radio__label font-sans-md"
                                   for="is_tribal_information_authorized_to_be_public-no">
                                Qualified as an Indian Tribe or Tribal Organization and <strong>opts not</strong> to authorize the FAC to make the reporting package publicly available.
                            </label>
                        </div>
                        <span class="usa-error-message font-sans-md margin-top-2">{{ errors.is_tribal_information_authorized_to_be_public|striptags }}</span>
                    </fieldset>

                    <p class="font-sans-lg text-bold text-underline">Agree and sign Tribal data release</p>
                    {% comment %} This div is the grey box, and handles its own margins and padding. {% endcomment %}
                    <div class="bg-base-lightest padding-5">
                        <fieldset class="usa-fieldset grid-row grid-gap-5" id="question-signature-and-submit">
                            <fieldset class="usa-fieldset font-sans-md tablet:grid-col" id="question-certifier-name">
                                <label class="usa-label margin-0 font-sans-md"
                                    for="tribal_authorization_certifying_official_name">
                                    Name of certifying official
                                </label>
                                <input class="usa-input"
                                    id="tribal_authorization_certifying_official_name"
                                    name="tribal_authorization_certifying_official_name"
                                    placeholder="[your name]"
                                    required
                                    value="{{ tribal_authorization_certifying_official_name }}" />
                                <span class="usa-error-message font-sans-md margin-top-1">{{ errors.tribal_authorization_certifying_official_name|striptags }}</span>
                            </fieldset>

                            <fieldset class="usa-fieldset font-sans-md tablet:grid-col" id="question-certifier-title">
                                <label class="usa-label margin-0 font-sans-md"
                                    for="tribal_authorization_certifying_official_title">
                                    Title of certifying official
                                </label>
                                <input class="usa-input"
                                        id="tribal_authorization_certifying_official_title"
                                        name="tribal_authorization_certifying_official_title"
                                        placeholder="[your title]"
                                        required
                                        value="{{ tribal_authorization_certifying_official_title }}" />
                                <span class="usa-error-message font-sans-md margin-top-1">{{ errors.tribal_authorization_certifying_official_title|striptags }}</span>
                            </fieldset>
                            
                            <fieldset class="usa-fieldset margin-top-2 tablet:grid-col-12" id="agree-or-cancel">
                                <button class="usa-button" id="continue">Agree to Tribal data release</button>
                                <a class="usa-button usa-button--unstyled margin-left-2 margin-top-2 tablet:margin-top-0"
                                id="cancel-tribal-data-release-link"
                                href="{% url 'audit:SubmissionProgress' report_id %}"
                                aria-controls="form-cancel">Cancel</a>
                            </fieldset>
                        </fieldset>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    {% include "audit-metadata.html" %}
{% endblock content %}
