{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="grid-container margin-y-6">
        <div class="grid-row">
            <form class="tablet:grid-col-10 tablet:grid-offset-1"
                  id="tribal-data-release"
                  method="post">
                {% csrf_token %}
                <fieldset class="usa-fieldset">
                    <h1 class="font-sans-2xl" id="title">Tribal data release</h1>
                    <p class="font-sans-lg text-bold">
                        Determine if the audit should make all information contained in the form SF-SAC and reporting package publicly available online.
                    </p>
                    <p class="font-sans-md margin-top-4 margin-bottom-6">
                        If this option is exercised, the auditee becomes responsible for submitting the reporting package directly to any pass-through entities through which it has received a Federal award and to pass-through entities for which the summary schedule of prior audit findings reported the status of any findings related to Federal awards that the pass-through entity provided. Unless restricted by Federal statute or regulation, if the auditee opts not to authorize publication, it must make copies of the reporting package available for public inspection.
                    </p>
                    <fieldset class="usa-fieldset radio" id="question-opt-in-out">
                        <legend class="text-bold margin-bottom-3 font-sans-md">
                            I certify that, to the best of my knowledge and belief, the auditee has:
                        </legend>
                        <div class="usa-radio">
                            <input class="usa-radio__input"
                                   type="radio"
                                   id="is_tribal_information_authorized_to_be_public-yes"
                                   name="is_tribal_information_authorized_to_be_public"
                                   value="True"
                                   {% if is_tribal_information_authorized_to_be_public == True %}checked{% endif %} />
                            <label class="usa-radio__label font-sans-md"
                                   for="is_tribal_information_authorized_to_be_public-yes">
                                Qualified as an Indian Tribe or Tribal Organization and <strong>opts</strong> to authorize the FAC to make the reporting package publicly available.
                            </label>
                        </div>
                        <div class="usa-radio margin-y-4">
                            <input class="usa-radio__input"
                                   type="radio"
                                   id="is_tribal_information_authorized_to_be_public-no"
                                   name="is_tribal_information_authorized_to_be_public"
                                   value="False"
                                   {% comment %} If the value is saved as false, check this one. If nothing is saved, check this by default. {% endcomment %}
                                   {% if is_tribal_information_authorized_to_be_public == False or not is_tribal_information_authorized_to_be_public %}checked{% endif %} />
                            <label class="usa-radio__label font-sans-md"
                                   for="is_tribal_information_authorized_to_be_public-no">
                                Qualified as an Indian Tribe or Tribal Organization and <strong>opts not</strong> to authorize the FAC to make the reporting package publicly available.
                            </label>
                        </div>
                        <span class="usa-error-message font-sans-md margin-top-2">{{ errors.is_tribal_information_authorized_to_be_public|striptags }}</span>
                    </fieldset>
                    {% comment %} This div is the grey box, and handles its own margins and padding. {% endcomment %}
                    <div class="bg-base-lightest tablet:grid-col-10 tablet:grid-offset-1 margin-y-6 padding-3">
                        <fieldset class="usa-fieldset font-sans-md" id="question-certifier-signature">
                            <p class="font-sans-lg text-bold margin-0">Agree and sign to auditor statement</p>
                            <label class="usa-label font-sans-md"
                                   for="tribal_authorization_certifying_official_name">
                                Name of certifying official
                            </label>
                            <input class="usa-input"
                                   id="tribal_authorization_certifying_official_name"
                                   name="tribal_authorization_certifying_official_name"
                                   placeholder="[your name]"
                                   required
                                   value="{{ tribal_authorization_certifying_official_name }}" />
                            <span class="usa-error-message font-sans-md margin-top-1">{{ errors.tribal_authorization_certifying_official_name|striptags }}</span>
                            
                            <label class="usa-label font-sans-md"
                                   for="tribal_authorization_certifying_official_title">
                                Title of certifying official
                            </label>
                            <input class="usa-input"
                                   id="tribal_authorization_certifying_official_title"
                                   name="tribal_authorization_certifying_official_title"
                                   placeholder="[your title]"
                                   required
                                   value="{{ tribal_authorization_certifying_official_title }}" />
                            <span class="usa-error-message font-sans-md margin-top-1">{{ errors.tribal_authorization_certifying_official_title|striptags }}</span>
                        </fieldset>
                        <fieldset class="usa-fieldset margin-top-4" id="aggree-or-cancel">
                            <button class="usa-button" id="continue">Agree to Tribal data release</button>
                            <a class="usa-button usa-button--unstyled margin-left-2"
                               id="cancel-tribal-data-release-link"
                               href="{% url 'audit:SubmissionProgress' report_id %}"
                               aria-controls="form-cancel">Cancel</a>
                        </fieldset>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    {% include "audit-metadata.html" %}
{% endblock content %}
