{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="grid-container margin-top-6">
        <div class="grid-row">
            <form class="grid-col-8 grid-offset-2"
                  id="auditee-certification-step-2"
                  method="post">
                {% csrf_token %}
                <fieldset class="usa-fieldset padding-bottom-2">
                    <h1 id="auditee-certification">Tribal data consent</h1>
                    <h3>
                        Determine if the audit should make all information contained in the form SF-SAC and reporting package publicly available online.
                    </h3>
                    <fieldset class="usa-fieldset radio">
                        <legend class="usa-legend">Would you like your audit to be made public after submission?</legend>
                        <div class="usa-radio">
                            <input class="usa-radio__input"
                                   type="radio"
                                   id="is_tribal_information_authorized_to_be_public-yes"
                                   name="is_tribal_information_authorized_to_be_public"
                                   value="true"
                                   {% if is_tribal_information_authorized_to_be_public == True %}checked{% endif %} />
                            <label class="usa-radio__label"
                                   for="is_tribal_information_authorized_to_be_public-yes">Yes</label>
                        </div>
                        <div class="usa-radio">
                            <input class="usa-radio__input"
                                   type="radio"
                                   id="is_tribal_information_authorized_to_be_public-no"
                                   name="is_tribal_information_authorized_to_be_public"
                                   value="false"
                                   {% if is_tribal_information_authorized_to_be_public == False %}checked{% endif %}
                                   {% if not is_tribal_information_authorized_to_be_public %}checked{% endif %} />
                            <label class="usa-radio__label"
                                   for="is_tribal_information_authorized_to_be_public-no">No</label>
                        </div>
                        <span class="usa-error-message margin-top-2">{{ errors.is_tribal_information_authorized_to_be_public|striptags }}</span>
                    </fieldset>
                    <label class="usa-label" for="tribal_authorization_certifying_official_name">Name of certifying official</label>
                    <input class="usa-input"
                           id="tribal_authorization_certifying_official_name"
                           name="tribal_authorization_certifying_official_name"
                           placeholder="[your name]"
                           required
                           value="{{ tribal_authorization_certifying_official_name }}" />
                    <span class="usa-error-message margin-top-2">{{ errors.tribal_authorization_certifying_official_name|striptags }}</span>
                    <label class="usa-label" for="tribal_authorization_certifying_official_date">Date</label>
                    <div class="usa-hint"
                         id="tribal_authorization_certifying_official_date-hint">mm/dd/yyyy</div>
                    <div class="usa-date-picker"
                         data-default-value="{{ tribal_authorization_certifying_official_date }}">
                        <input class="usa-input"
                               id="tribal_authorization_certifying_official_date"
                               name="tribal_authorization_certifying_official_date"
                               aria-labelledby="tribal_authorization_certifying_official_date-label"
                               aria-describedby="tribal_authorization_certifying_official_date-hint"
                               aria-required="true"
                               required />
                    </div>
                    <span class="usa-error-message margin-top-2">{{ errors.tribal_authorization_certifying_official_date|striptags }}</span>
                </fieldset>
                <button class="usa-button margin-bottom-8 margin-top-4" id="continue">Agree to Tribal data release</button>
                <a class="usa-button usa-button--unstyled margin-left-2"
                   id="cancel-tribal-data-release-link"
                   href="{% url 'audit:SubmissionProgress' report_id %}"
                   aria-controls="form-cancel">Cancel</a>
            </form>
        </div>
    </div>
    {% include "audit-metadata.html" %}
{% endblock content %}
