{% extends "base.html" %}
{% load static %}
{% block content %}
    <header class="usa-header usa-header-basic bg-primary-darker">
        <div class="usa-nav-container">
            <div class="usa-navbar bg-primary-darker text-white width-full flex">
                <p class="margin-left-2">
                    <a href="/" class="text-gray-10">My audit submissions</a> »
                    <a href="/audit/submission-progress/{{ report_id }}"
                       class="text-gray-10">{{ auditee_name | default_if_none:'' }}</a> »
                    <span class="text-bold">Upload report</span>
                </p>
            </div>
        </div>
    </header>
    <div class="grid-container margin-top-6">
        <div class="grid-col grid-gap">
            {% comment %} {% include "../sidenav.html" %} {% endcomment %}
            <div>
                <h1>Upload single audit report package</h1>
                <p>
                    All components of the audit report package must be merged into a single PDF file and meet the uniform guidelines below. For more information on PDF formatting, please review our PDF guidelines.
                </p>
                {% if already_submitted %}
                    <p class="text-green" id="already-submitted">
                        A file has already been uploaded for this section. A successful reupload will overwrite your previous submission.
                    </p>
                {% endif %}
            </div>
            <ol class="usa-process-list">
                <form id="upload-report__form"
                      id_test="upload-report__form"
                      action="{% url 'audit:UploadReport' report_id %}"
                      enctype='multipart/form-data'
                      method="post">
                    {% csrf_token %}
                    <fieldset class="usa-fieldset">
                        <li class="usa-process-list__item">
                            <h4 class="usa-process-list__heading">Formatting requirements:</h4>
                            <ul>
                                <li>Less than 30MB</li>
                                <li>Unlocked with no password requirements</li>
                                <li>Converted from an electronic document and text searchable</li>
                                <li>Unencrypted</li>
                                <li>Printing and content copying allowed</li>
                            </ul>
                        </li>
                        <li class="usa-process-list__item">
                            <h4 class="usa-process-list__heading">Remove all Personally Identifiable Information (PII)</h4>
                            <p>
                                PII includes but is not limited to: Social Security Numbers, account numbers, vehicle identification numbers, copies of cancelled checks, student names, dates of birth, personal addresses or personal phone numbers.
                            </p>
                        </li>
                        <li class="usa-process-list__item">
                            <h4 class="usa-process-list__heading">Component page number</h4>
                            <p>
                                Each required component on the checklist must have a numeric page number. Enter the starting PDF page number for each of the components listed below. <abbr title="required" class="usa-hint usa-hint--required">*</abbr> indicates a required field.
                            </p>
                            <div class="usa-form usa-form--large">
                                {% for x in page_number_inputs %}
                                    <div class="grid-row margin-top-4">
                                        <label for="upload-report__page-number-{{ forloop.counter }}"
                                               class="tablet:grid-col-12">
                                            {{ x.text }}
                                            {% if x.required %}<abbr title="required" class="usa-hint usa-hint--required">*</abbr>{% endif %}
                                        </label>
                                        {% if x.hint %}
                                            <label for="upload-report__page-number-{{ forloop.counter }}"
                                                   class="tablet:grid-col-12 usa-hint">{{ x.hint }}</label>
                                        {% endif %}
                                        <label class="margin-top-2 text-bold tablet:grid-col-2">Page #:</label>
                                        <input class="usa-input usa-input--medium tablet:grid-col-10"
                                               id="{{ x.id }}"
                                               id_test="test-{{ x.id }}"
                                               name="{{ x.id }}"
                                               min="1"
                                               pattern="\d+"
                                               {% if x.required %}required{% endif %}
                                               type="number"
                                               value="{{ form.cleaned_data | get_attr:x.id }}" />
                                        <span class="usa-error-message tablet:grid-col-12">{{ form.errors | get_attr:x.id }}</span>
                                    </div>
                                {% endfor %}
                            </div>
                        </li>
                        <li class="usa-process-list__item">
                            <h4 class="usa-process-list__heading">Upload your PDF</h4>
                            <p>
                                Select a compliant PDF to upload. <abbr title="required" class="usa-hint usa-hint--required">*</abbr>
                            </p>
                            <input class="usa-file-input"
                                   id="upload_report"
                                   id_test="upload-report__file-input"
                                   name="upload_report"
                                   accept=".pdf"
                                   aria-describedby="file_input_upload_report"
                                   required
                                   type="file" />
                            <span class="usa-error-message tablet:grid-col-12">{{ form.errors.upload_report }}</span>
                        </li>
                    </fieldset>
                <button class="usa-button margin-bottom-8 margin-top-4" id="continue" disabled="disabled">Upload Single Audit Package</button>
                </form>
            </ol>
        </div>
    </div>
    {% include "audit-metadata.html" %}
    <script src="{% static 'compiled/js/upload-report-pdf.js' %}"></script>
{% endblock content %}
