{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="grid-container margin-y-6">
        <div class="grid-col grid-gap">
            <div>
                <h1>Upload single audit report package</h1>
                <p>
                    All components of the audit report package must be merged into a single PDF file and meet the uniform guidelines below. For more information on PDF formatting, please review our PDF guidelines. 
                    For those completing program-specific audits, please refer to 
                    <a class="usa-link"
                       href="https://support.fac.gov/hc/en-us/articles/32700168226445-Program-specific-audits-how-to-upload-the-Audit-report-PDF"
                       target="_blank"
                       rel="noopener noreferrer">this guide</a>.
                </p>
                {% if form.errors %}
                    <span class="usa-error-message" role="alert">There were errors when attempting to submit the form. Scroll down for more details.</span>
                {% endif %}
            </div>
            <form id="upload-report__form"
                    id_test="upload-report__form"
                    action="{% url 'audit:UploadReport' report_id %}"
                    enctype='multipart/form-data'
                    method="post">
                {% csrf_token %}
                <fieldset class="usa-fieldset">
                    <ol class="usa-process-list">
                        <li class="usa-process-list__item">
                            <h2 class="usa-process-list__heading">Formatting requirements:</h2>
                            <ul>
                                <li>Less than 30MB</li>
                                <li>Unlocked with no password requirements</li>
                                <li>Converted from an electronic document and text searchable</li>
                                <li>Unencrypted</li>
                                <li>Printing and content copying allowed</li>
                            </ul>
                        </li>
                        <li class="usa-process-list__item">
                            <h2 class="usa-process-list__heading">Remove all Personally Identifiable Information (PII)</h2>
                            <p>
                                PII includes but is not limited to: Social Security Numbers, account numbers, vehicle identification numbers, copies of cancelled checks, student names, dates of birth, personal addresses or personal phone numbers.
                            </p>
                        </li>
                        <li class="usa-process-list__item">
                            <h2 class="usa-process-list__heading">Component page number</h2>
                            <p>
                                Each required component on the checklist must have a numeric page number. Enter the starting PDF page number for each of the components listed below. <abbr title="required" class="usa-hint usa-hint--required">*</abbr> indicates a required field.
                            </p>
                            <div class="usa-form usa-form--large">
                                {% for x in page_number_inputs %}
                                    <div class="grid-row margin-top-4">
                                        <label for="upload-report__page-number-{{ forloop.counter }}"
                                               class="tablet:grid-col-12">
                                            {{ x.text }}
                                            {% if x.required %}<abbr title="required" class="usa-hint usa-hint--required">*</abbr>{% endif %}
                                        </label>
                                        {% if x.hint %}
                                            <label for="upload-report__page-number-{{ forloop.counter }}"
                                                   class="tablet:grid-col-12 usa-hint">{{ x.hint }}</label>
                                        {% endif %}
                                        <label class="margin-top-2 text-bold tablet:grid-col-2">Page #:</label>
                                        <input class="usa-input usa-input--medium tablet:grid-col-10"
                                               id="upload-report__page-number-{{ forloop.counter }}"
                                               id_test="test-{{ x.id }}"
                                               name="{{ x.id }}"
                                               min="1"
                                               pattern="\d+"
                                               {% if x.required %}required{% endif %}
                                               type="number"
                                               value="{{ form.cleaned_data | get_attr:x.id }}" />
                                        <span class="usa-error-message tablet:grid-col-12">{{ form.errors | get_attr:x.id | striptags }}</span>
                                    </div>
                                {% endfor %}
                            </div>
                        </li>
                        <li class="usa-process-list__item">
                            <h2 class="usa-process-list__heading">{% if already_submitted %}Re-upload{% else %}Upload{% endif %} your PDF</h2>
                            <p>
                                Select a compliant PDF to upload. <abbr title="required" class="usa-hint usa-hint--required">*</abbr>
                            </p>
                            <input class="usa-file-input"
                                   id="upload_report"
                                   id_test="upload-report__file-input"
                                   name="upload_report"
                                   accept=".pdf,.PDF"
                                   aria-describedby="file_input_upload_report"
                                   required
                                   type="file" />
                            <span class="usa-error-message tablet:grid-col-12 margin-top-1">{{ form.errors.upload_report | striptags }}</span>
                        </li>
                    </ol>
                </fieldset>
                {% if already_submitted %}
                    <p class="text-green" id="already-submitted">
                        A file has already been uploaded for this section. A successful reupload will overwrite your previous submission.
                    </p>
                {% endif %}

                <div hidden id="loader" class="cross-validation-loader margin-top-6">
                    <img src="{% static 'img/loader.svg' %}" alt="spinner for processing upload" />
                </div>

                <button class="usa-button margin-bottom-8 margin-top-5" id="continue">{% if already_submitted %}Re-upload{% else %}Upload{% endif %} Single Audit Package</button>
                <a class="usa-button margin-left-2" href="{% url 'audit:SubmissionProgress' report_id %}">Cancel</a>
            </form>
        </div>
    </div>
    {% include "audit-metadata.html" %}
    <script src="{% static 'compiled/js/upload-report.js' %}"></script>
{% endblock content %}
