# Regexes for lines to exclude from consideration
# .coveragerc to control coverage.py
[run]
branch = True
parallel = True

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

omit =
    # Skip settings, these are environment specific
    config/settings.py
