# Python
**/__pycache__
**/*.pyc
staticfiles/


# Node
node_modules/
eslint.config.mjs
.prettierrc.json
.stylelintrc.json
.stylelintignore
static/compiled

# Docker
docker-compose*.yml
Dockerfile
.dockerignore

# Cloud Foundry
manifests/
apt.yml
.cfignore

# Tools
minio/

# Git
.git/
