# Python
**/__pycache__
**/*.pyc
.coveragerc
staticfiles/


# Node
node_modules/
eslint.config.mjs
.prettierrc.json
.stylelintrc.json
.stylelintignore
static/compiled

# Docker
docker-compose*.yml
Dockerfile
.dockerignore

# Cloud Foundry
manifests/
apt.yml
.cfignore

# Tools
minio/

# Tests
cypress/
cypress.config.mjs
**/test_*.py
**/tests.py

# Git
.git/
