{
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "prettier",
    "plugin:prettier/recommended",
    "plugin:cypress/recommended"
  ],
  "plugins": ["cypress"],
  "root": true
}
