<!-- Cancel submission button. Opens a confirmation modal which when accepted, moves the user to the home page. -->
<a class="usa-button usa-button--outline"
   aria-controls="modal-cancel"
   data-open-modal>Cancel</a>
<div class="usa-modal flex-justify-start"
     id="modal-cancel"
     aria-labelledby="modal-cancel-heading"
     aria-describedby="modal-cancel-description">
    <div class="usa-modal__content">
        <div class="usa-modal__main">
            <h2 class="usa-modal__heading" id="modal-cancel-heading">Cancel audit submission?</h2>
            <div class="usa-prose">
                <p id="cancel-modal-description">Cancelling will result in losing all progress.</p>
            </div>
            <div class="usa-modal__footer">
                <ul class="usa-button-group">
                    <li class="usa-button-group__item">
                        <a type="button" class="usa-button" data-close-modal href="/">OK</a>
                    </li>
                    <li class="usa-button-group__item">
                        <button type="button"
                                class="usa-button usa-button--outline padding-105 text-center"
                                data-close-modal>
                            I want to keep going
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <button class="usa-button usa-modal__close"
                aria-label="Close this window"
                data-close-modal>
            <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                <use xlink:href="/static/img/sprite.svg#close"></use>
            </svg>
        </button>
    </div>
</div>
