<!-- Side navigation menu. Highlights based on current URL should be added as URLs are determined. -->
<nav class="desktop:grid-col-3 sticky-nav"
     aria-label="Secondary navigation">
    <ul class="usa-sidenav margin-bottom-6">
        <li class="usa-sidenav__item">
            <a href="#" class="">General information</a>
        </li>
        <li class="usa-sidenav__item">
            {% if 'federal-awards' in request.path %}
                <a href="#federal-awards" class="usa-current">Federal Awards</a>
            {% else %}
                <a href="#federal-awards" class="">Federal Awards</a>
            {% endif %}
        </li>
        <li class="usa-sidenav__item">
            <a href="#" class="">Notes to SEFA</a>
        </li>
        <li class="usa-sidenav__item">
            <a href="#" class="">Audit information</a>
        </li>
        <li class="usa-sidenav__item">
            <a href="#" class="">Audit findings</a>
        </li>
        <li class="usa-sidenav__item">
            <a href="#" class="">Findings text</a>
        </li>
        <li class="usa-sidenav__item">
            <a href="#" class="">CAP text</a>
        </li>
        <li class="usa-sidenav__item">
            <a href="#" class="">Additional EINs</a>
        </li>
        <li class="usa-sidenav__item">
            <a href="#" class="">Additional UEIs</a>
        </li>
        <li class="usa-sidenav__item">
            <a href="#" class="">Secondary auditors</a>
        </li>
        <li class="usa-sidenav__item">
            <a href="#" class="">Finalize</a>
        </li>
    </ul>
</nav>
