*/backend.tfvars
*/.terraform
*/terraform.tfstate
*/terraform.tfstate.backup
*/deployer-creds.auto.tfvars
shared/config/backend.tfvars
shared/modules/cors/aws/*
shared/modules/cors/awscliv2.zip
*/*.tfplan
*/*.zip
