{% comment %} 
    <p> for created by time and name.
    If no name is available, uses email.

    Examples:
    Completed (formatted time) by (name or email).
    Completed MMM DD, YYYY at 12:00 AM UST by Joe Smith.

    Variables: 
        time (string)
        name (object)
{% endcomment %}
<p class="text-base margin-0">
    {% if name %}
        Completed {{ time }} by
        {% if name.first_name == '' %}
            {{ name.email }}.
        {% else %}
            {{ name.first_name }} {{ name.last_name }}.
        {% endif %}
    {% elif time %}
        Completed {{ time }}.
    {% endif %}
</p>
