{% comment %} Key information (certification steps) {% endcomment %}
<div class="padding-bottom-3 padding-top-105" id="submission-checklist-summary">
    <div class="usa-summary-box font-sans-md"
         role="region"
         aria-labelledby="summary-box-key-information">
        <div class="usa-summary-box__body">
            <div class="usa-summary-box__text">
                <span class="text-bold margin-left-1">Key information</span>
                <ul class="margin-top-0">
                    <li>Download and review the SF-SAC and audit report PDF using the buttons below.</li>
                    <li>To make changes to your submission, including re-uploading corrected documents, select "Unlock". You will have to re-validate the submission for certification after making any changes.</li>
                    <li>If changes are made after either party certifies the submission, they will have have to re-review and re-certify before submitting the audit to the FAC.</li>
                    <li><strong>The FAC doesn't send email notifications.</strong> You may want to notify certifying officials the submission is ready for their review.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
