{% comment %} Key information (certification steps) {% endcomment %}
<div class="padding-bottom-3 padding-top-105" id="submission-checklist-summary">
    <div class="usa-summary-box font-sans-md"
         role="region"
         aria-labelledby="summary-box-key-information">
        <div class="usa-summary-box__body">
            <div class="usa-summary-box__text">
                <span class="text-bold margin-left-1">Key information</span>
                <ul class="margin-top-0">
                    <li>The following steps will remain locked until you have completed all prior steps.</li>
                    <li class="text-bold">You cannot re-upload documents after certification by either party.</li>
                </ul>
            </div>
        </div>
    </div>
</div>