<div class="padding-bottom-3 padding-top-105" id="submission-checklist-summary">
    <div class="usa-summary-box font-sans-md"
         role="region"
         aria-labelledby="summary-box-key-information">
        <div class="usa-summary-box__body">
            <div class="usa-summary-box__text">
                <span class="text-bold margin-left-1">Key information</span>
                <ul class="margin-top-0">
                    <li>Use this checklist to track your progress towards completing a single audit submission.</li>
                    <li>Revised files may be re-uploaded at any point before certification.</li>
                    <li>
                        Access this page from your logged-in <a href="{% url 'audit:MySubmissions' %}">home screen.</a>
                    </li>
                    <li class="text-bold">Workbook 1: Federal Awards must be uploaded before any other workbooks can be uploaded.</li>
                </ul>
            </div>
        </div>
    </div>
</div>