{% if previous_report_id %}
<li class="usa-icon-list__item padding-bottom-105" id="secondary-auditors">
<div class="usa-icon-list__icon text-disabled-dark">
    <svg class="usa-icon margin-right-3" aria-hidden="true" role="img">
      
    </svg>
  </div>
  <div>

    <p class="text-bold margin-0">Check what changed in this resubmission</p>
    <p class="margin-top-2">
      <a href="{% url 'audit:CompareSubmissions' previous_report_id %}">Compare this resubmission</a> with {{ previous_report_id }}. 
    </p>
    <p class="usa-alert__text">
      This resubmission comparison does not absolve the auditor or auditee from their responsibility to verify and assert the correctness of their submission to the FAC.
    </p>
    </div>
  </li>
{% endif %}
