{% extends "base.html" %}
{% load static %}
{% load sprite_helper %}
{% block content %}
    <div class="grid-row">
        <div class="grid-container margin-top-6 margin-bottom-6">
            
            {% include './title.html'  with auditee_name=auditee_name %}
            
            <div id="submission-checklist-content">
                <ul class="usa-icon-list usa-icon-list--size-sm tablet:grid-col-11 font-sans-md">
                    
                    {% comment %} Single audit submission {% endcomment %}
                    <li class="usa-icon-list__item padding-bottom-105"
                        id="single-audit-submission">
                        {% include './icon-list-icon.html' with completed=single_audit_checklist.created %}
                        <div class="text-success-darker">
                            <p class="text-bold text-underline margin-0">Single audit submission (Complete)</p>
                            <p class="margin-0">
                                Begin your single audit submission by entering basic information about the auditee organization.
                            </p>
                            {% include './created-by.html' with time=single_audit_checklist.created_date name=single_audit_checklist.created_by %}
                            <p class="margin-0">
                                <a class="usa-link"
                                   href="{% url 'report_submission:general_information' report_id %}">Edit the audit information</a>
                            </p>
                        </div>
                    </li>
                    
                    {% comment %} Audit report PDF {% endcomment %}
                    <li class="usa-icon-list__item padding-bottom-105"
                        id="audit-report-completed">
                        {% if audit_report.completed %}
                            {% include './icon-list-icon.html' with completed=audit_report.completed %}
                            <div class="text-success-darker">
                                <p class="text-bold text-underline margin-0">Audit report PDF (Complete)</p>
                                <p class="margin-0">
                                    Upload the single audit report package, or audit report. This should be a single PDF that is unlocked and machine-readable.
                                </p>
                                {% include './created-by.html' with time=audit_report.completed_date name=audit_report.created_by %}
                                <p class="margin-0">
                                    <a class="usa-link" href="{% url 'audit:UploadReport' report_id %}">Re-upload the Audit report PDF</a>
                                </p>
                            </div>
                        {% else %}
                            {% include './icon-list-icon.html' with completed=audit_report.completed %}
                            <div>
                                <p class="text-bold margin-0">
                                    <a class="usa-link" href="{% url 'audit:UploadReport' report_id %}">Audit report PDF</a>
                                </p>
                                <p class="margin-0">
                                    Upload the single audit report package, or audit report. This should be a single PDF that is unlocked and machine-readable.
                                </p>
                            </div>
                        {% endif %}
                    </li>
                    
                    {% comment %} Workbook 1: Federal Awards {% endcomment %}
                    <li class="usa-icon-list__item padding-bottom-105"
                        id="federal-awards-completed">
                        {% if federal_awards_workbook.completed %}
                            {% include './icon-list-icon.html' with completed=federal_awards_workbook.completed %}
                            <div class="text-success-darker">
                                <p class="text-bold text-underline margin-0">Workbook 1: Federal Awards (Complete)</p>
                                <p class="margin-0">
                                    For each federal award received, you'll need the financial and agency details. This is also where you list the number of audit findings.
                                </p>
                                {% include './created-by.html' with time=federal_awards_workbook.completed_date name=federal_awards_workbook.created_by %}
                                <p class="margin-0">
                                    <a class="usa-link"
                                       href="{% url 'report_submission:federal-awards' report_id %}">Re-upload Workbook 1: Federal Awards</a>
                                </p>
                            </div>
                        {% else %}
                            {% include './icon-list-icon.html' with completed=federal_awards_workbook.completed %}
                            <div>
                                <p class="text-bold margin-0">
                                    <a class="usa-link"
                                       href="{% url 'report_submission:federal-awards' report_id %}">Upload Workbook 1: Federal Awards</a>
                                </p>
                                <p class="margin-0">
                                    For each federal award received, you'll need the financial and agency details. This is also where you list the number of audit findings.
                                </p>
                            </div>
                        {% endif %}
                    </li>
                    
                    {% comment %} Workbook 2: Federal Awards Audit Findings {% endcomment %}
                    <li class="usa-icon-list__item padding-bottom-105"
                        id="audit-findings-completed">
                        {% if audit_findings_workbook.completed %}
                            {% include './icon-list-icon.html' with completed=audit_findings_workbook.completed %}
                            <div class="text-success-darker">
                                <p class="text-bold text-underline margin-0">Workbook 2: Federal Awards Audit Findings (Complete)</p>
                                <p class="margin-0">
                                    Complete this section using the Summary Schedule of Prior Audit Findings and the information in the financial statement audit. If there are no audit findings listed in Workbook 1: Federal Awards, you do not need to complete this workbook.
                                </p>
                                {% include './created-by.html' with time=audit_findings_workbook.completed_date name=audit_findings_workbook.created_by %}
                                <p class="margin-0">
                                    <a class="usa-link"
                                       href="{% url 'report_submission:audit-findings' report_id %}">Re-upload Workbook 2: Federal Awards Audit Findings</a>
                                </p>
                            </div>
                        {% else %}
                            {% include './icon-list-icon.html' with completed=audit_findings_workbook.completed %}
                            <div>
                                <p class="text-bold margin-0">
                                    <a class="usa-link"
                                       href="{% url 'report_submission:audit-findings' report_id %}">Upload Workbook 2: Federal Awards Audit Findings</a>
                                </p>
                                <p class="margin-0">
                                    Complete this section using the Summary Schedule of Prior Audit Findings and the information in the financial statement audit. If there are no audit findings listed in Workbook 1: Federal Awards, you do not need to complete this workbook.
                                </p>
                            </div>
                        {% endif %}
                    </li>
                    
                    {% comment %} Workbook 3: Federal Awards Audit Findings Text {% endcomment %}
                    <li class="usa-icon-list__item padding-bottom-105"
                        id="findings-text-completed">
                        {% if findings_text_workbook.completed %}
                            {% include './icon-list-icon.html' with completed=findings_text_workbook.completed %}
                            <div class="text-success-darker">
                                <p class="text-bold text-underline margin-0">Workbook 3: Federal Awards Audit Findings Text (Complete)</p>
                                <p class="margin-0">
                                    Enter the full text of the audit finding, listing each finding only once, even if they relate to more than one program. Include the audit finding reference number for each. If there are no audit findings listed in Workbook 1: Federal Awards, you do not need to complete this workbook.
                                </p>
                                {% include './created-by.html' with time=findings_text_workbook.completed_date name=findings_text_workbook.created_by %}
                                <p class="margin-0">
                                    <a class="usa-link"
                                       href="{% url 'report_submission:audit-findings-text' report_id %}">Re-upload Workbook 3: Federal Awards Audit Findings Text</a>
                                </p>
                            </div>
                        {% else %}
                            {% include './icon-list-icon.html' with completed=findings_text_workbook.completed %}
                            <div>
                                <p class="text-bold margin-0">
                                    <a class="usa-link"
                                       href="{% url 'report_submission:audit-findings-text' report_id %}">Upload Workbook 3: Federal Awards Audit Findings Text</a>
                                </p>
                                <p class="margin-0">
                                    Enter the full text of the audit finding, listing each finding only once, even if they relate to more than one program. Include the audit finding reference number for each. If there are no audit findings listed in Workbook 1: Federal Awards, you do not need to complete this workbook.
                                </p>
                            </div>
                        {% endif %}
                    </li>
                    
                    {% comment %} Workbook 4: Corrective Action Plan (CAP) {% endcomment %}
                    <li class="usa-icon-list__item padding-bottom-105"
                        id="CAP-text-completed">
                        {% if CAP_workbook.completed %}
                            {% include './icon-list-icon.html' with completed=CAP_workbook.completed %}
                            <div class="text-success-darker">
                                <p class="text-bold text-underline margin-0">Workbook 4: Corrective Action Plan (CAP) (Complete)</p>
                                <p class="margin-0">
                                    This information should match the data you entered in the Findings Text workbook. You only need to enter plans for findings once if they relate to more than one program. If there are no audit findings listed in Workbook 1: Federal Awards, you do not need to complete this workbook.
                                </p>
                                {% include './created-by.html' with time=CAP_workbook.completed_date name=CAP_workbook.created_by %}
                                <p class="margin-0">
                                    <a class="usa-link" href="{% url 'report_submission:CAP' report_id %}">Re-upload Workbook 4: Corrective Action Plan (CAP)</a>
                                </p>
                            </div>
                        {% else %}
                            {% include './icon-list-icon.html' with completed=CAP_workbook.completed %}
                            <div>
                                <p class="text-bold margin-0">
                                    <a class="usa-link" href="{% url 'report_submission:CAP' report_id %}">Upload Workbook 4: Corrective Action Plan (CAP)</a>
                                </p>
                                <p class="margin-0">
                                    This information should match the data you entered in the Findings Text workbook. You only need to enter plans for findings once if they relate to more than one program. If there are no audit findings listed in Workbook 1: Federal Awards, you do not need to complete this workbook.
                                </p>
                            </div>
                        {% endif %}
                    </li>
                    
                    {% comment %} Audit Information Form {% endcomment %}
                    <li class="usa-icon-list__item padding-bottom-105"
                        id="audit-info-completed">
                        {% if audit_information_form.completed %}
                            {% include './icon-list-icon.html' with completed=audit_information_form.completed %}
                            <div class="text-success-darker">
                                <p class="text-bold text-underline margin-0">Audit Information Form (Complete)</p>
                                <p class="margin-0">
                                    This form is completed by both the auditee and auditor. Auditees complete this section using the Summary Schedule of Prior Audit Findings and Auditors complete this section using the information in the financial statement audit.
                                </p>
                                {% include './created-by.html' with time=audit_information_form.completed_date name=audit_information_form.created_by %}
                                <p class="margin-0">
                                    <a class="usa-link" href="{% url 'audit:AuditInfoForm' report_id %}">Edit the Audit Information Form</a>
                                </p>
                            </div>
                        {% else %}
                            {% include './icon-list-icon.html' with completed=audit_information_form.completed %}
                            <div>
                                <p class="text-bold margin-0">
                                    <a class="usa-link" href="{% url 'audit:AuditInfoForm' report_id %}">Audit Information Form</a>
                                </p>
                                <p class="margin-0">
                                    This form is completed by both the auditee and auditor. Auditees complete this section using the Summary Schedule of Prior Audit Findings and Auditors complete this section using the information in the financial statement audit.
                                </p>
                            </div>
                        {% endif %}
                    </li>
                    
                    {% comment %} Workbook 5: Additional UEIs (optional) {% endcomment %}
                    <li class="usa-icon-list__item padding-bottom-105"
                        id="additional-UEIs-completed">
                        {% if additional_UEIs_workbook.completed %}
                            {% include './icon-list-icon.html' with completed=additional_UEIs_workbook.completed %}
                            <div class="text-success-darker">
                                <p class="text-bold text-underline margin-0">Workbook 5: Additional UEIs (Complete)</p>
                                <p class="margin-0">
                                    This workbook is only necessary if multiple the audit report covers UEIs. It is completed by the auditee. List the additional UEIs covered by the audit, excluding the primary UEI.
                                </p>
                                {% include './created-by.html' with time=additional_UEIs_workbook.completed_date name=additional_UEIs_workbook.created_by %}
                                <p class="margin-0">
                                    <a class="usa-link"
                                       href="{% url 'report_submission:additional-ueis' report_id %}">Re-upload Workbook 5: Additional UEIs</a>
                                </p>
                            </div>
                        {% else %}
                            {% include './icon-list-icon.html' with completed=additional_UEIs_workbook.completed %}
                            <div>
                                <p class="text-bold margin-0">
                                    <a class="usa-link"
                                       href="{% url 'report_submission:additional-ueis' report_id %}">Upload Workbook 5: Additional UEIs (optional)</a>
                                </p>
                                <p class="margin-0">
                                    This workbook is only necessary if multiple the audit report covers UEIs. It is completed by the auditee. List the additional UEIs covered by the audit, excluding the primary UEI.
                                </p>
                            </div>
                        {% endif %}
                    </li>
                    
                    {% comment %} Upload Workbook 6: Secondary Auditors (optional) {% endcomment %}
                    <li class="usa-icon-list__item padding-bottom-3"
                        id="secondary-auditors-completed">
                        {% if secondary_auditors_workbook.completed %}
                            {% include './icon-list-icon.html' with completed=secondary_auditors_workbook.completed %}
                            <div class="text-success-darker">
                                <p class="text-bold text-underline margin-0">Workbook 6: Secondary Auditors (Complete)</p>
                                <p class="margin-0">
                                    This workbook is only necessary if multiple auditors did the audit work. In these cases, the secondary auditors should enter their information in this workbook.
                                </p>
                                {% include './created-by.html' with time=secondary_auditors_workbook.completed_date name=secondary_auditors_workbook.created_by %}
                                <p class="margin-0">
                                    <a class="usa-link"
                                       href="{% url 'report_submission:secondary-auditors' report_id %}">Re-upload Workbook 6: Secondary Auditors</a>
                                </p>
                            </div>
                        {% else %}
                            {% include './icon-list-icon.html' with completed=secondary_auditors_workbook.completed %}
                            <div>
                                <p class="text-bold margin-0">
                                    <a class="usa-link"
                                       href="{% url 'report_submission:secondary-auditors' report_id %}">Upload Workbook 6: Secondary Auditors (optional)</a>
                                </p>
                                <p class="margin-0">
                                    This workbook is only necessary if multiple auditors did the audit work. In these cases, the secondary auditors should enter their information in this workbook.
                                </p>
                            </div>
                        {% endif %}
                    </li>
                    
                    {% comment %} Key information (certification steps) {% endcomment %}
                    <div class="padding-bottom-3" id="submission-checklist-summary">
                        <div class="usa-summary-box font-sans-md"
                             role="region"
                             aria-labelledby="summary-box-key-information">
                            <div class="usa-summary-box__body">
                                <div class="usa-summary-box__text">
                                    <span class="text-bold margin-left-1">Key information</span>
                                    <ul class="margin-top-0">
                                        <li>The following steps will remain locked until you have completed all prior steps.</li>
                                        <li class="text-bold">You cannot re-upload documents after certification by either party.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    {% comment %} Pre-submission validation {% endcomment %}
                    <li class="usa-icon-list__item padding-bottom-105" id="SF-SAC-completed">
                        {% if pre_submission_validation.completed %}
                            {% include './icon-list-icon.html' with completed=pre_submission_validation.completed %}
                            <div class="text-success-darker">
                                <p class="text-bold text-underline margin-0">Pre-submission validation (Complete)</p>
                                <p class="margin-0">Before submitting your audit, use our validation tool to check your workbooks for errors.</p>
                            </div>
                        {% elif SFSAC_completed %}
                            {% include './icon-list-icon.html' with completed=pre_submission_validation.completed %}
                            <div>
                                <p class="text-bold margin-0">
                                    <a class="usa-link"
                                       href="{% url 'audit:ReadyForCertification' report_id %}">Pre-submission validation</a>
                                </p>
                                <p class="margin-0">Before submitting your audit, use our validation tool to check your workbooks for errors.</p>
                            </div>
                        {% else %}
                            {% include './icon-list-icon.html' with completed=pre_submission_validation.completed %}
                            <div>
                                <p class="text-bold margin-0">Pre-submission validation</p>
                                <p class="margin-0">Before submitting your audit, use our validation tool to check your workbooks for errors.</p>
                            </div>
                        {% endif %}
                    </li>
                    
                    {% comment %} Auditor Certification {% endcomment %}
                    <li class="usa-icon-list__item padding-bottom-105"
                        id="auditor-certification-completed">
                        {% if auditor_certified.completed %}
                            {% include './icon-list-icon.html' with completed=auditor_certified.completed %}
                            <div class="text-success-darker">
                                <p class="text-bold text-underline margin-0">Auditor Certification (Complete)</p>
                                <p class="margin-0">
                                    Your certifying auditor must attest and sign the single audit package before submission. In order to unlock this step, you must complete and upload all required workbooks from the previous steps, as well as the single audit report PDF.
                                </p>
                            </div>
                        {% elif auditor_certified.enabled %}
                            {% include './icon-list-icon.html' with completed=auditor_certified.completed %}
                            <div>
                                <p class="text-bold margin-0">
                                    <a class="usa-link"
                                       href="{% url 'audit:AuditorCertification' report_id %}">Auditor Certification</a>
                                </p>
                                <p class="margin-0">
                                    Your certifying auditor must attest and sign the single audit package before submission. In order to unlock this step, you must complete and upload all required workbooks from the previous steps, as well as the single audit report PDF.
                                </p>
                            </div>
                        {% else %}
                            {% include './icon-list-icon.html' with completed=auditor_certified.completed %}
                            <div>
                                <p class="text-bold margin-0">Auditor Certification</p>
                                <p class="margin-0">
                                    Your certifying auditor must attest and sign the single audit package before submission. In order to unlock this step, you must complete and upload all required workbooks from the previous steps, as well as the single audit report PDF.
                                </p>
                            </div>
                        {% endif %}
                    </li>
                    
                    {% comment %} Auditee Certification {% endcomment %}
                    <li class="usa-icon-list__item padding-bottom-3"
                        id="auditee-certification-completed">
                        {% if auditee_certified.completed %}
                            {% include './icon-list-icon.html' with completed=auditee_certified.completed %}
                            <div class="text-success-darker">
                                <p class="text-bold text-underline margin-0">Auditee Certification (Complete)</p>
                                <p class="margin-0">
                                    Your certifying auditee must attest and sign the single audit package before submission. In order to unlock this step, you must complete and upload all required workbooks from the previous steps, as well as the single audit report PDF.
                                </p>
                            </div>
                        {% elif auditee_certified.enabled %}
                            {% include './icon-list-icon.html' with completed=auditee_certified.completed %}
                            <div>
                                <p class="text-bold margin-0">
                                    <a class="usa-link"
                                       href="{% url 'audit:AuditeeCertification' report_id %}">Auditee Certification</a>
                                </p>
                                <p class="margin-0">
                                    Your certifying auditee must attest and sign the single audit package before submission. In order to unlock this step, you must complete and upload all required workbooks from the previous steps, as well as the single audit report PDF.
                                </p>
                            </div>
                        {% else %}
                            {% include './icon-list-icon.html' with completed=auditee_certified.completed %}
                            <div>
                                <p class="text-bold margin-0">Auditee Certification</p>
                                <p class="margin-0">
                                    Your certifying auditee must attest and sign the single audit package before submission. In order to unlock this step, you must complete and upload all required workbooks from the previous steps, as well as the single audit report PDF.
                                </p>
                            </div>
                        {% endif %}
                    </li>
                    
                    {% comment %} Submit to the FAC for processing {% endcomment %}
                    <div class="padding-bottom-3" id="submit-audit">
                        <div class="usa-summary-box font-sans-md bg-success-lighter"
                             role="region"
                             aria-labelledby="summary-box-key-information">
                            <div class="usa-summary-box__body">
                                <div class="usa-summary-box__text">
                                    <p class="text-bold margin-0">
                                        <a class="usa-link" href="{% url 'audit:Submission' report_id %}">Submit to the FAC for processing</a>
                                    </p>
                                    <p class="margin-0">
                                        This is the last step and must be completed by the <span class="text-underline">certifying auditee</span>. <strong>Once the audit has been submitted, it cannot be undone.</strong>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% comment %} Summary view {% endcomment %}
                    <div class="padding-y-6" id="submit-audit">
                        <div class="usa-summary-box font-sans-md bg-error-lighter"
                             role="region"
                             aria-labelledby="summary-box-key-information">
                            <div class="usa-summary-box__body">
                                <div class="usa-summary-box__text">
                                    <h2 class="text-bold margin-0">
                                        <a class="usa-link" href="{% url 'audit:Summary' report_id %}">SUMMARY VIEW</a>
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </div>
    {% include "audit-metadata.html" %}
{% endblock content %}
