{% load sprite_helper %}
<div class="grid-row margin-bottom-3" id="submission-checklist-title">
    <div class="grid-row width-full" id="submission-checklist-summary">
        <h1 class="tablet:grid-col-8 font-sans-2xl margin-y-1">
            Submission Checklist: {{ auditee_name | default_if_none:'N/A' }}
        </h1>
        <div>
            <a class="usa-button grid-row margin-top-1"
               href="{% url 'audit:ManageSubmission' report_id=report_id %}">
                <svg class="usa-icon usa-icon--size-3 margin-right-1"
                     aria-hidden="true"
                     focusable="false"
                     role="img">
                    {% uswds_sprite "person_add" %}
                </svg>
                <span class="padding-top-05">Manage report access</span>
            </a>
        </div>
    </div>
</div>
