{% comment %} The pre-submission validation section block {% endcomment %}
<li class="usa-icon-list__item padding-bottom-105" id="SF-SAC-completed">
    {% if pre_submission_validation.completed %}
        {% include './icon-list-icon.html' with completed=pre_submission_validation.completed %}
        <div class="text-success-darker">
            <p class="text-bold text-underline margin-0">Pre-submission validation (Complete)</p>
            <p class="margin-0">Before submitting your audit, use our validation tool to check your workbooks for errors.</p>
        </div>
    {% else %}
        {% include './icon-list-icon.html' with completed=pre_submission_validation.completed %}
        <div>
            <p class="text-bold margin-0">
                <a class="usa-link"
                href="{% url 'audit:CrossValidation' report_id %}">Pre-submission validation</a>
            </p>
            <p class="margin-0">Before submitting your audit, use our validation tool to check your workbooks for errors.</p>
        </div>
    {% endif %}
</li>