{% comment %} 
Alert component, provides resources on what to do/where to go when an expected record isn't listed.
{% endcomment %}
<div class="usa-alert usa-alert--info margin-bottom-3">
    <div class="usa-alert__body">
        <h2 class="usa-alert__heading">Can't find a report listed here?</h2>

        <p class="usa-alert__text padding-bottom-2">
            Please have the user with access to the audit submission confirm your user access through the
            <a class="usa-link"
                href="{{ STATIC_SITE_URL }}audit-resources/user-access/"
                target="_blank"
                rel="noopener noreferrer">manage user access controls</a>
            on the audit submission in question.  It may mean that your email address listed on the audit submission doesn't match the email associated with your Login.gov account.
        </p>

        <a class="usa-button usa-button--outline"
            href="https://support.fac.gov/hc/en-us/sections/18797020894989-Submission-Access"
            target="_blank"
            rel="noopener noreferrer">View more support</a>
    </div>
</div>
