{% comment %} 
Table component. Lists all submitted records, accepted and disseminated. Contains a warning for "stuck" submissions that failed the intake_to_dissemination process. 
{% endcomment %}
{% load sprite_helper %}
<h1 class="font-sans-xl display-inline-flex">
    <svg class="usa-icon margin-right-1"
        aria-hidden="true"
        focusable="false"
        role="img">
        {% uswds_sprite "fac_completed" %}
    </svg>
    <span>Completed</span>
</h1>
<div class="grid-row" tabindex="0">
    <table class="usa-table margin-top-0">
        <caption class="text-normal">
            <p class="margin-0">The audits listed below are with the FAC for processing and can't be edited.</p>
            <ul>
                <li>
                    "Accepted" audits are complete and don't require further action by the auditee or auditor.
                </li>
                <li>
                    "Submitted" audits are being processed for dissemination. If an audit's status remains at "Submitted" for more than 24 hours, please <a class="usa-link" href="https://support.fac.gov/hc/en-us/requests/new" target="_blank">submit a helpdesk ticket</a>.
                </li>
            </ul>
        </caption>
        <thead>
            <tr>
                <th data-sortable scope="col" role="columnheader">Status</th>
                <th data-sortable scope="col" role="columnheader">Entity name</th>
                <th data-sortable scope="col" role="columnheader">Report ID</th>
                <th data-sortable scope="col" role="columnheader">
                    Auditee
                    <button class="usa-button--unstyled margin-top-0"
                            aria-controls="modal-uei-info"
                            data-open-modal>UEI</button>
                </th>
                <th data-sortable scope="col" role="columnheader">Fiscal period end date</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data.completed_audits %}
                <tr>
                    <td>
                        <a class="usa-link" href="{% url 'audit:SubmissionProgress' item.report_id %}">
                            {% if item.submission_status == "Disseminated" %}
                                Accepted
                            {% else %}
                                {{ item.submission_status }}
                            {% endif %}
                        </a>
                    </td>
                    <td>{{ item.auditee_name }}</td>
                    <td>{{ item.report_id }}</td>
                    <td>{{ item.auditee_uei }}</td>
                    <td>{{ item.fiscal_year_end_date }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="usa-sr-only usa-table__announcement-region" aria-live="polite"></div>
</div>
