{% load sprite_helper %}
<div class="usa-modal flex-justify-start"
    id="modal-uei-info"
    aria-labelledby="modal-uei-info-heading"
    aria-describedby="modal-uei-info-description">
    <div class="usa-modal__content">
        <div class="usa-modal__main">
            <h2 class="usa-modal__heading" id="modal-uei-info-heading">What is a Unique Entity Identifier (UEI)?</h2>
            <div class="usa-prose" id="modal-uei-info-description">
                <p>
                    The Unique Entity Identifier (UEI) for an awardee or recipient is an alphanumeric code created in
                    the System for Award Management (SAM.gov) that is used to uniquely identify specific commercial,
                    nonprofit, or business entities registered to do business with the federal government.
                </p>
            </div>
        </div>
        <button class="usa-button usa-modal__close"
                aria-label="Close this window"
                data-close-modal>
            <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                {% uswds_sprite "close" %}
            </svg>
        </button>
    </div>
</div>