{% load static %}
<section class="usa-banner" aria-label="Official government website">
    <div class="usa-accordion">
        <header class="usa-banner__header">
            <div class="usa-banner__inner">
                <div class="grid-col-auto">
                    <img
                        class="usa-banner__header-flag"
                        src="{% static 'img/us_flag_small.png' %}"
                        alt="U.S. flag"
                    />
                </div>
                <div class="grid-col-fill tablet:grid-col-auto">
                    <p class="usa-banner__header-text">
                        An official website of the United States government
                    </p>
                    <p class="usa-banner__header-action" aria-hidden="true">
                        Here’s how you know
                    </p>
                </div>
                <button
                    class="usa-accordion__button usa-banner__button"
                    aria-expanded="false"
                    aria-controls="gov-banner"
                >
                    <span class="usa-banner__button-text">Here’s how you know</span>
                </button>
            </div>
        </header>
        <div class="usa-banner__content usa-accordion__content" id="gov-banner">
            <div class="grid-row grid-gap-lg">
                <div class="usa-banner__guidance tablet:grid-col-6">
                    <img
                        class="usa-banner__icon usa-media-block__img"
                        src="{% static 'img/icon-dot-gov.svg' %}"
                        role="img"
                        alt=""
                        aria-hidden="true"
                    />
                    <div class="usa-media-block__body">
                        <p>
                            <strong> Official websites use .gov </strong>
                            <br />
                            A <strong>.gov</strong> website belongs to an official government
                            organization in the United States.
                        </p>
                    </div>
                </div>
                <div class="usa-banner__guidance tablet:grid-col-6">
                    <img
                        class="usa-banner__icon usa-media-block__img"
                        src="{% static 'img/icon-https.svg' %}"
                        role="img"
                        alt=""
                        aria-hidden="true"
                    />
                    <div class="usa-media-block__body">
                        <p>
                            <strong> Secure .gov websites use HTTPS </strong>
                            <br />
                            A <strong>lock</strong> (
                            <span class="icon-lock"
                            ><svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="52"
                                height="64"
                                viewBox="0 0 52 64"
                                class="usa-banner__lock-image"
                                role="img"
                                aria-labelledby="banner-lock-title banner-lock-description"
                                focusable="false"
                            >
                                <title id="banner-lock-title">Lock</title>
                                <desc id="banner-lock-description">A locked padlock</desc>
                                <path
                                    fill="#000000"
                                    fill-rule="evenodd"
                                    d="M26 0c10.493 0 19 8.507 19 19v9h3a4 4 0 0 1 4 4v28a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V32a4 4 0 0 1 4-4h3v-9C7 8.507 15.507 0 26 0zm0 8c-5.979 0-10.843 4.77-10.996 10.712L15 19v9h22v-9c0-6.075-4.925-11-11-11z"
                                /></svg
                                ></span>
                                ) or <strong>https://</strong> means you’ve safely connected to
                                the .gov website. Share sensitive information only on official,
                                secure websites.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="usa-overlay"></div>
    <header class="usa-header usa-header--basic">
        <div class="usa-nav-container">
            <div class="usa-navbar">
                <div class="usa-logo" id="basic-logo">
                    <em class="usa-logo__text">
                        <a href="javascript:void(0)" title="FAC.gov">
                            <strong>FAC</strong>.gov
                        </a>
                    </em>
                </div>
                <button class="usa-menu-btn">Menu</button>
            </div>
            <nav aria-label="Primary navigation" class="usa-nav">
                <button class="usa-nav__close">
                    <img src="{% static 'img/usa-icons/close.svg' %}" role="img" alt="Close" />
                </button>

                <ul class="usa-nav__primary usa-accordion">



                    <li class="usa-nav__primary-item">
                        <button
                            class="usa-accordion__button usa-nav__link"
                            aria-expanded="false"
                            aria-controls="basic-nav-section-1"
                        >
                            <span>Find audit information</span>
                        </button>

                        <ul id="basic-nav-section-1" class="usa-nav__submenu">

                            <li class="usa-nav__submenu-item">
                                <a href="https://example.com">Link 1</a>
                            </li>

                            <li class="usa-nav__submenu-item">
                                <a href="https://example.com">Link 2</a>
                            </li>

                        </ul>
                    </li>




                    <li class="usa-nav__primary-item">
                        <button
                            class="usa-accordion__button usa-nav__link"
                            aria-expanded="false"
                            aria-controls="basic-nav-section-2"
                        >
                            <span>Resources</span>
                        </button>

                        <ul id="basic-nav-section-2" class="usa-nav__submenu">

                            <li class="usa-nav__submenu-item">
                                <a href="https://example.com">Link 1</a>
                            </li>

                        </ul>
                    </li>



                    <li class="usa-nav__primary-item">
                        <a href="https://example.gov" class="usa-nav__link">
                            <span>FAQs</span>
                        </a>
                    </li>



                    <li class="usa-nav__primary-item">
                        <a href="https://example.gov" class="usa-nav__link">
                            <span>Contact Us</span>
                        </a>
                    </li>


                </ul>


                <div class="sign-in">
                    <a
                        class="sign-in-logo"
                        aria-controls="login-modal"
                        href="#login-modal"
                        data-open-modal
                        tabindex="0"
                    >
                        Submit an audit
                    </a>
                <div
                    class="usa-modal usa-modal--lg"
                    id="login-modal"
                    aria-labelledby="login-modal-heading"
                    aria-describedby="login-modal-description">

                    <div class="usa-modal__content">
                        <div class="usa-modal__main">
                            <h2 class="usa-modal__heading" id="login-modal-heading">
                                Submitting information to the Federal Audit Clearinghouse requires authentication
                            </h2>
                            <div id="login-modal-description">
                                <p>General Services Administration Notice and Consent Warning</p>
                                <p>You are accessing a United States government computer system. This United States government computer system is provided for the collection of the single audit reporting package and form SF-SAC as required under the Single Audit Act of 1984 (amended in 1996) and the Office of Management and Budget (OMB) Title 2 U.S. Code of Federal Regulations (CFR) Part 200, Uniform Administrative Requirements for Federal Awards (Uniform Guidance).</p>
                                <p>Use of this system indicates your consent to collection, monitoring, recording, and use of the information you provide for any lawful government purpose. So that our network remains safe and available for its intended use, network traffic is monitored to identify unauthorized attempts to access, upload, change information, or otherwise cause damage to the web service. Use of a government computer network for unauthorized purposes is a violation of federal law and punishable by fines or imprisonment (Public Law 99-474).</p>
                                <p>Collecting data on behalf of OMB. Version: 1.4.14.0   Last Modified: February 09, 2022 and expires February 28, 2025</p>
                            </div>

                            <div class="usa-modal__footer">
                                <ul class="usa-button-group">
                                    <li class="usa-button-group__item">
                                        <button type="button" class="usa-button sign-in-button" id="sign-in" data-close-modal>
                                            Authenticate with Login.gov
                                        </button>
                                    </li>
                                    <li class="usa-button-group__item">
                                        <button
                                            type="button"
                                            class="usa-button usa-button--unstyled padding-105 text-center"
                                            data-close-modal
                                        >
                                            Go back
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <button
                            class="usa-button usa-modal__close"
                            aria-label="Close this window"
                            data-close-modal
                        >
                            <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                                <use xlink:href="{% static 'img/sprite.svg#close' %}"></use>
                            </svg>
                        </button>
                    </div>
            </nav>
        </div>
    </header>

