{% load static %}
<div class="usa-nav-container">
    <div class="usa-navbar">
        <div class="usa-logo" id="basic-logo">
            <em class="usa-logo__text">
                <a href="javascript:void(0)" title="FAC.gov">
                    <strong>FAC</strong>.gov
                </a>
            </em>
        </div>
        <button class="usa-menu-btn">Menu</button>
    </div>
    <nav aria-label="Primary navigation" class="usa-nav">
        <button class="usa-nav__close">
            <img src="{% static 'img/usa-icons/close.svg' %}" role="img" alt="Close">
        </button>

        <ul class="usa-nav__primary usa-accordion">



            <li class="usa-nav__primary-item">
                <a href="https://example.gov" class="usa-nav__link">
                    <span>Search audit reports</span>
                </a>
            </li>




            <li class="usa-nav__primary-item">
                <button class="usa-accordion__button usa-nav__link" aria-expanded="false" aria-controls="basic-nav-section-2">
                    <span>Resources</span>
                </button>

                <ul id="basic-nav-section-2" class="usa-nav__submenu" hidden="">

                    <li class="usa-nav__submenu-item">
                        <a href="https://example.com">Link 1</a>
                    </li>

                </ul>
            </li>



            <li class="usa-nav__primary-item">
                <a href="https://example.gov" class="usa-nav__link">
                    <span>FAQs</span>
                </a>
            </li>



            <li class="usa-nav__primary-item">
                <a href="https://example.gov" class="usa-nav__link">
                    <span>Contact Us</span>
                </a>
            </li>


        </ul>


        <div class="sign-in">
            <a class="sign-in-logo" aria-controls="login-modal" href="/openid/login/" data-open-modal tabindex="0" role="button"><span>Sign in</span> Submit and review your audits</a>

            <div
                class="usa-modal usa-modal--lg"
                id="login-modal"
                aria-labelledby="login-modal-heading"
                aria-describedby="login-modal-description">

                <div class="usa-modal__content">
                    <div class="usa-modal__main">
                        <h2 class="usa-modal__heading" id="login-modal-heading">
                            Submitting information to the Federal Audit Clearinghouse requires authentication
                        </h2>
                        <div id="login-modal-description">
                            <p>General Services Administration Notice and Consent Warning</p>
                            <p>You are accessing a United States government computer system. This United States government computer system is provided for the collection of the single audit reporting package and form SF-SAC as required under the Single Audit Act of 1984 (amended in 1996) and the Office of Management and Budget (OMB) Title 2 U.S. Code of Federal Regulations (CFR) Part 200, Uniform Administrative Requirements for Federal Awards (Uniform Guidance).</p>
                            <p>Use of this system indicates your consent to collection, monitoring, recording, and use of the information you provide for any lawful government purpose. So that our network remains safe and available for its intended use, network traffic is monitored to identify unauthorized attempts to access, upload, change information, or otherwise cause damage to the web service. Use of a government computer network for unauthorized purposes is a violation of federal law and punishable by fines or imprisonment (Public Law 99-474).</p>
                            <p>Collecting data on behalf of OMB. Version: 1.4.14.0   Last Modified: February 09, 2022 and expires February 28, 2025</p>
                        </div>
                        <div class="usa-modal__footer">
                            <ul class="usa-button-group">
                                <li class="usa-button-group__item">
                                    <a href="/openid/login/">
                                        <button type="button" class="usa-button sign-in-button" id="sign-in" data-close-modal>
                                            Authenticate with Login.gov
                                        </button>
                                    </a>
                                </li>
                                <li class="usa-button-group__item">
                                    <button
                                        type="button"
                                        class="usa-button usa-button--unstyled padding-105 text-center"
                                        data-close-modal
                                    >
                                        Go back
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <button
                        class="usa-button usa-modal__close"
                        aria-label="Close this window"
                        data-close-modal
                    >
                        <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                            <use xlink:href="{% static 'img/sprite.svg#close' %}"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>

    </nav>
</div>
