{% load static %}
<div class="usa-nav-container">
    <div class="usa-navbar">
        <div class="usa-logo" id="basic-logo">
            <em class="usa-logo__text">
                <a href="/" title="FAC.gov">
                    <strong>FAC</strong>.gov
                </a>
            </em>
        </div>
        <button class="usa-menu-btn">Menu</button>
    </div>
    <nav aria-label="Primary navigation" class="usa-nav">
        <button class="usa-nav__close">
            <img src="{% static 'img/usa-icons/close.svg' %}" role="img" alt="Close" />
        </button>
        <ul class="usa-nav__primary usa-accordion">
            <li class="usa-nav__primary-item">
                <a href="https://example.gov" class="usa-nav__link">
                    <span>Search audit reports</span>
                </a>
            </li>
            <li class="usa-nav__primary-item">
                <button class="usa-accordion__button usa-nav__link"
                        aria-expanded="false"
                        aria-controls="basic-nav-section-2">
                    <span>Resources</span>
                </button>
                <ul id="basic-nav-section-2" class="usa-nav__submenu" hidden="">
                    <li class="usa-nav__submenu-item">
                        <a href="https://example.com">Link 1</a>
                    </li>
                </ul>
            </li>
            <li class="usa-nav__primary-item">
                <a href="https://example.gov" class="usa-nav__link">
                    <span>FAQs</span>
                </a>
            </li>
            <li class="usa-nav__primary-item">
                <a href="https://example.gov" class="usa-nav__link">
                    <span>Contact Us</span>
                </a>
            </li>
        </ul>
        {% if request.user.is_authenticated %}
            <form action="/openid/logout" class="sign-out">
                <button class="usa-button usa-button--unstyled">
                    <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                        <use xlink:href="/static/img/sprite.svg#logout"></use>
                    </svg>
                    <span>Sign out</span>
                    {% if request.user.first_name == '' %}
                        <span>{{ request.user.email }}</span>
                    {% else %}
                        <span>{{ request.user.first_name }} {{ request.user.last_name }}</span>
                    {% endif %}
                </button>
            </form>
        {% else %}
            <div class="sign-in">
                <a class="sign-in-logo"
                   aria-controls="login-modal"
                   href="/openid/login/"
                   data-open-modal
                   tabindex="0"
                   role="button"><span>Sign in</span> Submit and review your audits</a>
                <div class="usa-modal usa-modal--lg"
                     id="login-modal"
                     aria-labelledby="login-modal-heading"
                     aria-describedby="login-modal-description">
                    <div class="usa-modal__content">
                        <div class="usa-modal__main">
                            <h2 class="usa-modal__heading" id="login-modal-heading">You must log in to continue</h2>
                            <div id="login-modal-description">
                                <p>
                                    Submitting information to the Federal Audit Clearinghouse requires authentication
                                    which will now be handled by <a href="http://login.gov">Login.gov</a>.
                                    <strong>You cannot use your old Census FAC credentials to access the new GSA
                                        system.</strong> On the next screen you can use an existing Login.gov
                                        account or create a new one to securely sign in.
                                    </p>
                                </div>
                                <div class="usa-modal__footer">
                                    <ul class="usa-button-group">
                                        <li class="usa-button-group__item">
                                            <a href="/openid/login/">
                                                <button type="button"
                                                        class="usa-button sign-in-button"
                                                        id="sign-in"
                                                        data-close-modal>
                                                    Authenticate with Login.gov
                                                </button>
                                            </a>
                                        </li>
                                        <li class="usa-button-group__item">
                                            <button type="button"
                                                    class="usa-button usa-button--unstyled padding-105 text-center"
                                                    data-close-modal>Cancel</button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <button class="usa-button usa-modal__close"
                                    aria-label="Close this window"
                                    data-close-modal>
                                <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                                    <use xlink:href="{% static 'img/sprite.svg#close' %}"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            {% endif %}
        </nav>
    </div>
