{% extends "base.html" %}
{% load sprite_helper %}
{% load static %}
{% block content %}
    {% comment %} Title {% endcomment %}
    <div class="grid-container margin-top-6">
        <div class="grid-col grid-gap">
            <h1 class="font-sans-2xl">Percent Funding by Entity Type</h1>
        </div>
    </div>

    {% comment %} The big doughnut of doom {% endcomment %}
    <div class="grid-container padding-y-6">
        {% comment %} Plotly draws into this div {% endcomment %}
        <div id="dashboard_piechart_div"></div>
        <div id="dashboard_barchart_div"></div>
    </div>

    {{ dashboard_data | json_script:"dashboard_data" }}
    <script src="{% static 'compiled/js/dashboard_sample.js' %}"></script>
{% endblock content %}
