{% load humanize %}
{% load sprite_helper %}
<div class="usa-alert usa-alert--info">
    <div class="usa-alert__body">
        <h4 class="usa-alert__heading">Searching the FAC database</h4>
        {% if advanced_search_flag %}
          <p class="usa-alert__text padding-bottom-2">
              Learn more about how our advanced search flters work on <a href='https://www.fac.gov/search-resources/advanced/' target='_blank'>our resources page</a>.
          </p>
        {% else %}
          <p class="usa-alert__text padding-bottom-2">
            Learn more about how our search flters work on <a href='https://www.fac.gov/search-resources/filters/' target='_blank'>our resources page</a>.
          </p>
        {% endif %}

        <h4 class="usa-alert__heading">Summary reports</h4>
        <p class="usa-alert__text padding-bottom-2">
            For search results of {{ summary_report_download_limit|intcomma }} submissions or less, you can download a combined spreadsheet of all data. 
            If you need to download more than {{ summary_report_download_limit|intcomma }} submissions, try limiting your search parameters to download in batches.
        </p>
        
        {% if advanced_search_flag %}
          <h4 class="usa-alert__heading">Basic search</h4>
          <p class="usa-alert__text">
            We update advanced search nightly with new submissions. <a href="{% url 'dissemination:Search' %}">Basic search</a> is always up-to-date. This is best for users wanting to confirm their submissions are complete.
          </p>
        {% else %}
          <h4 class="usa-alert__heading">Advanced search</h4>
          <p class="usa-alert__text">
            Audit resolution officials may want to use the <a href="{% url 'dissemination:AdvancedSearch' %}">advanced search</a> for additional filters.
          </p>
        {% endif %}
    </div>
</div>
