{% load humanize %}
{% load sprite_helper %}
<div class="">
    <div class="text-family-public-sans">
        <p>
          <a href="{% url 'dissemination:Search' %}">Basic Search</a> is updated in real time and can be used to confirm that an audit submission has been accepted. <a href="{% url 'dissemination:AdvancedSearch' %}">Advanced Search</a> is updated once daily at 12am EST and includes additional filters to support our Federal partners.
        </p>
        <p class="text-bold">
          Learn how Basic and Advanced search filters work on our <a href='https://www.fac.gov/search-resources/filters/' target='_blank'>Search resources page</a>.
        </p>
    </div>
</div>
