{% extends "base.html" %}
{% load static %}
{% load field_name_to_label %}
{% block content %}
    <div class="grid-container margin-top-6 margin-bottom-6">
        <div class="grid-col grid-gap">
            <div id="audit-summary-content" class="usa-in-page-nav-container summary">
                <aside class="usa-in-page-nav"
                       data-main-content-selector="div.summary"
                       data-title-text="On this page"
                       data-title-heading-level="h2"
                       data-scroll-offset="0"
                       data-root-margin="0px 0px 0px 0px"
                       data-threshold="1">
                </aside>
                <main id="summary-content">
                    {% comment %} General Information {% endcomment %}
                    <div id="title">
                        <h1>{{ auditee_name }} ({{ auditee_uei }})</h1>
                        <p class="margin-y-1">
                            <strong>Report ID:</strong>{{ report_id }}
                        </p>
                        <p class="margin-y-1">
                            <strong>Submission date:</strong>{{ general.submitted_date }}
                        </p>
                        <p class="margin-y-1">
                            <strong>Fiscal Year:</strong>{{ general.fy_start_date }} to {{ general.fy_end_date }}
                        </p>
                    </div>
                    <div id="general-information" class="margin-top-6">
                        <h2>General Information</h2>
                        <div class="position-relative overflow-scroll height-mobile border radius-lg">
                            <div class="grid-row padding-2">
                                {% for k, v in general.items %}
                                    <p class="margin-y-1 desktop:grid-col-6">
                                        <strong>{{ k|field_name_to_label }}:</strong> {{ v }}
                                    </p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% for section_key, section_list in data.items %}
                        <div id="{{ section_key }}">
                            <span id="{{ section_key }}-title" class="grid-row margin-top-3">
                                <h2>{{ section_key }}</h2>
                                <span class="text-base-light font-sans-lg display-flex flex-align-self-center margin-x-2">|</span>
                                <span class="text-base font-sans-lg display-flex flex-align-self-center">{{ section_list|length }}</span>
                            </span>
                            <div id="{{ section_key }}-table" class="usa-table-container--scrollable">
                                <table class="usa-table usa-table--striped overflow-scroll width-full">
                                    <thead id="{{ section_key }}-table__head">
                                        <tr>
                                            {% for k in section_list.0 %}<th scope="col">{{ k|field_name_to_label }}</th>{% endfor %}
                                        </tr>
                                    </thead>
                                    <tbody id="{{ section_key }}-table__body">
                                        {% for item in section_list %}
                                            <tr>
                                                {% for k, v in item.items %}
                                                    {% if v == '' %}
                                                        <td>-</td>
                                                    {% else %}
                                                        <td>{{ v }}</td>
                                                    {% endif %}
                                                {% endfor %}
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    {% endfor %}
                </main>
            </div>
        </div>
    </div>
    {% include "audit-metadata.html" %}
{% endblock content %}
