{% load field_name_to_label %}
{% load getkey %}
<div id="general-information" class="margin-top-6">
    <h2 class="font-sans-2xl">General Information</h2>
    {% comment %}
        Strictly defining what shows here. 
        The other option is dynamically displaying the contents of general while still finely 
        controlling title content and extraneous information. Which is not trivial. 
    {% endcomment %}
    <div id="general-information-table" class="usa-table-container">
        <table class="usa-table usa-table--striped width-full">
            <tbody id="{{ section_key }}-table__body">
                <tr class="grid-row">
                    <td class="grid-col-12 tablet:grid-col-6">
                        <p class="margin-y-1">
                            <strong>Report ID:&nbsp;</strong>{{ general.report_id }}
                        </p>
                    </td>
                    <td class="grid-col-12 tablet:grid-col-6">
                        <p class="margin-y-1">
                            <strong>Auditee UEI:&nbsp;</strong>{{ general.auditee_uei }}
                        </p>
                    </td>
                </tr>
                <tr class="grid-row">
                    <td class="grid-col-12 tablet:grid-col-6">
                        <p class="margin-y-1">
                            <strong>Auditee certifying name:&nbsp;</strong>{{ general.auditee_certify_name }}
                        </p>
                    </td>
                    <td class="grid-col-12 tablet:grid-col-6">
                        <p class="margin-y-1">
                            <strong>Auditee certifying title:&nbsp;</strong>{{ general.auditee_certify_title }}
                        </p>
                    </td>
                </tr>
                <tr class="grid-row">
                    <td class="grid-col-12 tablet:grid-col-6">
                        <p class="margin-y-1">
                            <strong>Auditee name:&nbsp;</strong>{{ general.auditee_name }}
                        </p>
                    </td>
                    <td class="grid-col-12 tablet:grid-col-6">
                        <p class="margin-y-1">
                            <strong>Auditee EIN:&nbsp;</strong>{{ general.auditee_ein }}
                        </p>
                    </td>
                </tr>
                <tr class="grid-row">
                    <td class="grid-col-12 tablet:grid-col-6">
                        <p class="margin-y-1">
                            <strong>Auditee email:&nbsp;</strong>{{ general.auditee_email }}
                        </p>
                    </td>
                    <td class="grid-col-12 tablet:grid-col-6">
                        <p class="margin-y-1">
                            <strong>Auditee phone:&nbsp;</strong>{{ general.auditee_phone }}
                        </p>
                    </td>
                </tr>
                <tr class="grid-row">
                    <td class="grid-col-12 tablet:grid-col-6">
                        <p class="margin-y-1">
                            <strong>Auditee address:&nbsp;</strong>{{ general.auditor_address_line_1 }}
                        </p>
                    </td>
                    <td class="grid-col-12 tablet:grid-col-6">
                        <p class="margin-y-1">
                            <strong>Auditee city:&nbsp;</strong>{{ general.auditee_city }}
                        </p>
                    </td>
                </tr>
                <tr class="grid-row">
                    <td class="grid-col-12 tablet:grid-col-6">
                        <p class="margin-y-1">
                            <strong>Auditee state:&nbsp;</strong>{{ general.auditee_state }}
                        </p>
                    </td>
                    <td class="grid-col-12 tablet:grid-col-6">
                        <p class="margin-y-1">
                            <strong>Auditee ZIP:&nbsp;</strong>{{ general.auditee_zip }}
                        </p>
                    </td>
                </tr>
                <tr class="grid-row">
                    <td class="grid-col-12 tablet:grid-col-6">
                        <p class="margin-y-1">
                            <strong>Auditee contact name:&nbsp;</strong>{{ general.auditee_contact_name }}
                        </p>
                    </td>
                    <td class="grid-col-12 tablet:grid-col-6">
                        <p class="margin-y-1">
                            <strong>Auditee contact title:&nbsp;</strong>{{ general.auditee_contact_title }}
                        </p>
                    </td>
                </tr>
                <tr class="grid-row">
                    <td class="grid-col-12 tablet:grid-col-6">
                        <p class="margin-y-1">
                            <strong>Auditor contact name:&nbsp;</strong>{{ general.auditor_contact_name }}
                        </p>
                    </td>
                    <td class="grid-col-12 tablet:grid-col-6">
                        <p class="margin-y-1">
                            <strong>Auditor contact title:&nbsp;</strong>{{ general.auditor_contact_title }}
                        </p>
                    </td>
                </tr>
                <tr class="grid-row">
                    <td class="grid-col-12 tablet:grid-col-6">
                        <p class="margin-y-1">
                            <strong>Auditor firm name:&nbsp;</strong>{{ general.auditor_firm_name }}
                        </p>
                    </td>
                    <td class="grid-col-12 tablet:grid-col-6">
                        <p class="margin-y-1">
                            <strong>Auditor phone:&nbsp;</strong>{{ general.auditor_phone }}
                        </p>
                    </td>
                </tr>
                {% comment %} If the auditor is international, display different fields. {% endcomment %}
                {% if general.auditor_foreign_address %}
                    <tr class="grid-row">
                        <td class="grid-col-12 tablet:grid-col-6">
                            <p class="margin-y-1">
                                <strong>Auditor address:&nbsp;</strong>{{ general.auditor_foreign_address }}
                            </p>
                        </td>
                        <td class="grid-col-12 tablet:grid-col-6">
                            <p class="margin-y-1">
                                <strong>Auditor USA-based:&nbsp;</strong>No
                            </p>
                        </td>
                    </tr>
                {% else %}
                    <tr class="grid-row">
                        <td class="grid-col-12 tablet:grid-col-6">
                            <p class="margin-y-1">
                                <strong>Auditor State:&nbsp;</strong>{{ general.auditor_state }}
                            </p>
                        </td>
                        <td class="grid-col-12 tablet:grid-col-6">
                            <p class="margin-y-1">
                                <strong>Auditor city:&nbsp;</strong>{{ general.auditor_city }}
                            </p>
                        </td>
                    </tr>
                {% endif %}
                <tr class="grid-row">
                    <td class="grid-col-12 tablet:grid-col-6">
                        <p class="margin-y-1">
                            <strong>Awards:&nbsp;</strong>{{ data.Awards|length }}
                        </p>
                    </td>
                    <td class="grid-col-12 tablet:grid-col-6">
                        <p class="margin-y-1">
                            <strong>Notes to SEFA:&nbsp;</strong>{{ data|getkey:"Notes to SEFA"|length }}
                        </p>
                    </td>
                </tr>
                <tr class="grid-row">
                    <td class="grid-col-12 tablet:grid-col-6">
                        <p class="margin-y-1">
                            <strong>Findings:&nbsp;</strong>{{ data|getkey:"Audit Findings"|length }}
                        </p>
                    </td>
                    <td class="grid-col-12 tablet:grid-col-6">
                        <p class="margin-y-1">
                            <strong>Additional UEIs:&nbsp;</strong>{{ general.is_additional_ueis }}
                        </p>
                    </td>
                </tr>
                <tr class="grid-row">
                    <td class="grid-col-12">
                        <p class="margin-y-1">
                            <strong>AWARDS TOTAL:&nbsp;${{ general.total_amount_expended }}</strong>
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
