# See docs/dependency-management.md for compilation instructions

-c ../requirements.txt

aiohttp==3.14.3
asyncio==4.0.0
bandit==1.9.4
black==26.3.1
coverage==7.6.3
django-debug-toolbar==4.4.6
djlint==1.35.2
faker==30.5.0
flake8==7.1.1
jsonnet==0.22.0
model-bakery==1.20.0
mypy==1.12.0
pandas==2.2.3
pip-tools==7.6.1
tblib==3.0.0
toml==0.10.2
types-pytz==2024.2.0.20241003
types-requests==2.32.0.20241016
whitenoise==6.7.0

# via pip-tools
pip==26.2.1
