-c ../requirements.txt

awscli-local
bandit
black
coverage
djlint
drf-spectacular
drf-spectacular[sidecar]
flake8
jsonnet
jsonschema
localstack
model_bakery
mypy
pandas
pip-tools
toml
types-python-slugify
types-requests
whitenoise
yattag