boto3
cfenv
cryptography
django-cors-headers
django-csp
django-logingov-backend
drf-spectacular
drf-spectacular[sidecar]
django-storages
Django>=4.0.8
djangorestframework
djangorestframework-simplejwt
environs[django]
gunicorn
jsonnet
jsonpath-ng
jsonschema
newrelic
oic
openpyxl
pandas
psycopg2-binary
pycryptodome
pydash
pyjwt
python-json-logger
python-slugify
pyyaml
requests
uritemplate
yattag
django-fsm
