boto3
cfenv
cryptography>=42.0.0
django-cors-headers
django-csp
django-dbbackup
django-storages[boto3]
Django>=5.0.2
djangorestframework
djangorestframework-simplejwt
django-fsm
environs[django]
faker
fs
greenlet==2.0.2
gunicorn[eventlet]
jsonpath-ng
jsonschema
newrelic
oic
openpyxl
pandas
peewee
psycopg2-binary
pycryptodome>=3.19.1
pycryptodomex>=3.19.1
pydash
pyjwt
pypdf>=3.17.0
python-json-logger
python-slugify
pyyaml
requests>=2.31.0
sqlalchemy
sqlparse>=0.4.4
uritemplate
urllib3>=2.0.7
