boto3
cfenv
cryptography>=41.0.2
django-cors-headers
django-csp
django-logingov-backend
django-storages
Django>=4.2.3
djangorestframework
djangorestframework-simplejwt
django-fsm
environs[django]
faker
gunicorn
jsonnet
jsonpath-ng
jsonschema
newrelic
numpy
oic
openpyxl
pandas
psycopg2-binary
pycryptodome
pydash
pyjwt
pypdf
python-json-logger
python-slugify
pyyaml
requests>=2.31.0
sqlalchemy
sqlparse>=0.4.4
uritemplate
