@use 'uswds-core' as *;

.usa-hero {
  background-image: none;

  & > .grid-container {
    padding-top: 5rem;
    padding-bottom: 5rem;
    max-width: 60rem;
  }

  .intro-text {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-size: size('sans', 8);  /* stylelint-disable-line */
    padding-bottom: units(3);
  }

  .usa-card {
    text-align: center;

    .usa-card__container {
      padding: 2rem 0;
    }

    .usa-card__body {
      padding-bottom: 0;
    }

    p {
      margin-bottom: 0;
    }
  }
}

.usa-hero__heading {
  font-size: size('sans', 13);  /* stylelint-disable-line */
}

.usa-hero__heading,
.usa-hero p {
  color: color('ink');
  font-family: family('sans'); /* stylelint-disable-line */
}

@media (min-width: 64em) {
  .usa-hero {
    min-height: 30rem;

    .usa-hero__heading,
    p,
    .usa-button-group {
      margin-bottom: 2.2rem;
    }  
  }
}

.usa-modal--lg { 
  max-width: 60rem;

  .usa-modal__heading {
    font-family: family('sans');
    font-size: size('sans', 10);
  }

  .usa-modal__main {
    max-width: 45rem;
  }
}

.usa-alert {
  &--slim {
    p {
      margin-bottom: 0;
    }
  }
}

.usa-table caption.text-normal {
  font-weight: normal;
}