@use 'uswds-core' as * with(
  $theme-show-notifications: false,
  $theme-font-path: '../fonts',
  $theme-image-path: '../img',
  $theme-font-type-sans: 'public-sans',
  $theme-table-stripe-background-color: 'base-lightest',
  $theme-table-header-background-color: 'white',
);

@forward 'uswds';

@use '_home.scss';
@use '_header.scss';
@use '_form.scss';
