@use 'uswds-core' as * with(
  $theme-show-notifications: false,
  $theme-font-path: '../fonts',
  $theme-image-path: '../img',
  $theme-font-type-sans: 'public-sans',
  $theme-type-scale-md: 7,
  $theme-type-scale-2xl: 13,
  $theme-color-success-lighter: #eef8eb,
);

@forward 'uswds';

@use '_home.scss';
@use '_header.scss';
@use '_form.scss';
@use '_workbook-upload.scss';
