{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="grid-container margin-top-6 margin-bottom-6">
        <div class="grid-row grid-gap">
            <form class="tablet:grid-col-8" id="cross-validation" method="post">
                {% csrf_token %}
                <fieldset class="usa-fieldset">
                    <legend class="usa-legend usa-legend--large" id="federal-awards">Pre-submission validation</legend>
                    <p class="margin-y-3">
                        Check your workbooks to confirm you entered your data correctly. This tool also cross-validates the workbooks against each other.
                    </p>
                    <p>If there are errors, you may re-upload the affected workbooks.</p>
                    <div class="margin-top-6">
                        <button class="usa-button" id="begin-validation">Begin Validation</button>
                        <button class="usa-button" id="proceed-to-certification" disabled>Proceed to certification</button>
                        <a href="{% url 'audit:SubmissionProgress' report_id %}">Return to checklist</a>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock content %}
