{% comment %} Findings {% endcomment %}
<button type="button"
        class="usa-accordion__button"
        aria-expanded={% if form_user_input.findings %}"true"{% else %}"false"{% endif %}
        aria-controls="auditfindings">Audit findings</button>
<div id="auditfindings">
    {% for value, text in form.findings.field.choices %}
        <div class="usa-checkbox bg-base-lighter">
            <input class="usa-checkbox__input"
                    id="findings-{{ text }}"
                    name="findings" type="checkbox"
                    value={{ value }}
                    {% if value in form_user_input.findings %}checked{% endif %} />
            <label class="usa-checkbox__label" for="findings-{{ text }}">{{ text }}</label>
        </div>
    {% endfor %}
</div>
