{% comment %} ALN/CFDA {% endcomment %}
<div class="usa-accordion">
    <h4 class="usa-accordion__heading">
        <button type="button"
                class="usa-accordion__button"
                aria-expanded={% if form_user_input.passthrough_name %}"true"{% else %}"false"{% endif %}
                aria-controls="passthrough-name">Passthrough Name</button>
    </h4>
    <div id="passthrough-name">
        <textarea class="usa-textarea" id="passthrough-name" name="passthrough_name">{{form_user_input.passthrough_name}}</textarea>
    </div>
</div>
