{% comment %} UEI/EIN {% endcomment %}
<button type="button"
        class="usa-accordion__button"
        aria-expanded="true"
        aria-controls="uei-or-ein">
    UEI or EIN
</button>

<div id="uei-or-ein">
    <label class="usa-sr-only" for="input_uei-or-ein">
        UEI or EIN
    </label>

    <textarea class="usa-textarea"
              id="input_uei-or-ein"
              name="uei_or_ein"
              aria-describedby="uei-ein-help">{{ form_user_input.uei_or_ein }}</textarea>

    <div id="uei-ein-help" class="margin-top-1 text-ink">
        Separate multiple UEIs or EINs by commas or newlines.
    </div>
</div>
