<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/compiled/main.css" media="all" type="text/css">
        <script src="/static/js/libs.js" defer type="text/javascript"></script>
        {% block metatags %}{% endblock %}
    </head>


    <body >
        <a class="usa-skipnav" href="#main-content">Skip to main content</a>

        <section class="usa-banner" aria-label="Official government website">
            <div class="usa-accordion">
                <header class="usa-banner__header">
                    <div class="usa-banner__inner">
                        <div class="grid-col-auto">
                            <img
                                class="usa-banner__header-flag"
                                src="/static/img/us_flag_small.png"
                                alt="U.S. flag"
                            />
                        </div>
                        <div class="grid-col-fill tablet:grid-col-auto">
                            <p class="usa-banner__header-text">
                                An official website of the United States government
                            </p>
                            <p class="usa-banner__header-action" aria-hidden="true">
                                Here’s how you know
                            </p>
                        </div>
                        <button
                            class="usa-accordion__button usa-banner__button"
                            aria-expanded="false"
                            aria-controls="gov-banner"
                        >
                            <span class="usa-banner__button-text">Here’s how you know</span>
                        </button>
                    </div>
                </header>
                <div class="usa-banner__content usa-accordion__content" id="gov-banner">
                    <div class="grid-row grid-gap-lg">
                        <div class="usa-banner__guidance tablet:grid-col-6">
                            <img
                                class="usa-banner__icon usa-media-block__img"
                                src="/static/img/icon-dot-gov.svg"
                                role="img"
                                alt=""
                                aria-hidden="true"
                            />
                            <div class="usa-media-block__body">
                                <p>
                                    <strong> Official websites use .gov </strong>
                                    <br />
                                    A <strong>.gov</strong> website belongs to an official government
                                    organization in the United States.
                                </p>
                            </div>
                        </div>
                        <div class="usa-banner__guidance tablet:grid-col-6">
                            <img
                                class="usa-banner__icon usa-media-block__img"
                                src="/static/img/icon-https.svg"
                                role="img"
                                alt=""
                                aria-hidden="true"
                            />
                            <div class="usa-media-block__body">
                                <p>
                                    <strong> Secure .gov websites use HTTPS </strong>
                                    <br />
                                    A <strong>lock</strong> (
                                    <span class="icon-lock"
                                    ><svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="52"
                                        height="64"
                                        viewBox="0 0 52 64"
                                        class="usa-banner__lock-image"
                                        role="img"
                                        aria-labelledby="banner-lock-title banner-lock-description"
                                        focusable="false"
                                    >
                                        <title id="banner-lock-title">Lock</title>
                                        <desc id="banner-lock-description">A locked padlock</desc>
                                        <path
                                            fill="#000000"
                                            fill-rule="evenodd"
                                            d="M26 0c10.493 0 19 8.507 19 19v9h3a4 4 0 0 1 4 4v28a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V32a4 4 0 0 1 4-4h3v-9C7 8.507 15.507 0 26 0zm0 8c-5.979 0-10.843 4.77-10.996 10.712L15 19v9h22v-9c0-6.075-4.925-11-11-11z"
                                        /></svg
                                        ></span>
                                        ) or <strong>https://</strong> means you’ve safely connected to
                                        the .gov website. Share sensitive information only on official,
                                        secure websites.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <div class="usa-overlay"></div>
            <header class="usa-header usa-header--basic">
                <div class="usa-nav-container">
                    <div class="usa-navbar">
                        <div class="usa-logo" id="basic-logo">
                            <em class="usa-logo__text">
                                <a href="javascript:void(0)" title="FAC.gov">
                                    <strong>FAC</strong>.gov
                                </a>
                            </em>
                        </div>
                        <button class="usa-menu-btn">Menu</button>
                    </div>
                    <nav aria-label="Primary navigation" class="usa-nav">
                        <button class="usa-nav__close">
                            <img src="/static/img/usa-icons/close.svg" role="img" alt="Close" />
                        </button>

                        <ul class="usa-nav__primary usa-accordion">



                            <li class="usa-nav__primary-item">
                                <button
                                    class="usa-accordion__button usa-nav__link"
                                    aria-expanded="false"
                                    aria-controls="basic-nav-section-1"
                                >
                                    <span>Find audit information</span>
                                </button>

                                <ul id="basic-nav-section-1" class="usa-nav__submenu">

                                    <li class="usa-nav__submenu-item">
                                        <a href="https://example.com">Link 1</a>
                                    </li>

                                    <li class="usa-nav__submenu-item">
                                        <a href="https://example.com">Link 2</a>
                                    </li>

                                </ul>
                            </li>




                            <li class="usa-nav__primary-item">
                                <button
                                    class="usa-accordion__button usa-nav__link"
                                    aria-expanded="false"
                                    aria-controls="basic-nav-section-2"
                                >
                                    <span>Resources</span>
                                </button>

                                <ul id="basic-nav-section-2" class="usa-nav__submenu">

                                    <li class="usa-nav__submenu-item">
                                        <a href="https://example.com">Link 1</a>
                                    </li>

                                </ul>
                            </li>



                            <li class="usa-nav__primary-item">
                                <a href="https://example.gov" class="usa-nav__link">
                                    <span>FAQs</span>
                                </a>
                            </li>



                            <li class="usa-nav__primary-item">
                                <a href="https://example.gov" class="usa-nav__link">
                                    <span>Contact Us</span>
                                </a>
                            </li>


                        </ul>


                        <div class="sign-in">
                            <a
                                class="sign-in-logo"
                                aria-controls="login-modal"
                                href="#login-modal"
                                data-open-modal
                                tabindex="0"
                            >
                                Submit an audit
                            </a>
                            <div
                                class="usa-modal usa-modal--lg"
                                id="login-modal"
                                aria-labelledby="login-modal-heading"
                                aria-describedby="login-modal-description"
                            >

                                {% block content%}

                                {% endblock content%}

                            </div>
                        </div>

                    </nav>
                </div>
            </header>

            <main id="main-content">


                <section class="usa-hero" aria-label="Introduction">
                    <div class="grid-container">
                        <div class="usa-alert usa-alert--success usa-alert--slim"
                            role="alert"
                            hidden
                            id=logout-success
                        >
                            <div class="usa-alert__body">

                                <p class="usa-alert__text">
                                    You have successfully logged out
                                </p>
                            </div>
                        </div>

                        <div class="usa-alert usa-alert--error usa-alert--slim"
                            role="alert"
                            hidden
                            id=unauthorized
                        >
                            <div class="usa-alert__body">

                                <p class="usa-alert__text">
                                    You do not have access to that page
                                </p>
                            </div>
                        </div>

                        <script>
                            (function(){
                                const params = new URLSearchParams(window.location.search);
                                if (params.has('logout')) {
                                    document.getElementById('logout-success').hidden = false;
                                } else if (params.has('authorized')) {
                                    document.getElementById('unauthorized').hidden = false;
                                }
                            })()
                        </script>
                        <h1 class="usa-hero__heading">Search, upload, and download federal audit documents</h1>
                        <p>The FAC is transitioning to the General Services Administration to help the public  in oversight, transparency and assessment of Federal award audit requirements. Only audits from 2021 will be searchable on this site until we migrate systems, so please use the <a href="https://facides.census.gov/Account/Login.aspx">legacy FAC IMS</a> to search older records.</p>
                        <div class="usa-button-group">
                            <a class="usa-button sign-in-button" href="/#">
                                Log in to submit an audit
                            </a>
                            <a class="usa-button usa-button--outline" href="/callout/">
                                Find audit information on the legacy FAC IMS
                            </a>
                        </div>
                    </div>
                </section>



            </main>
            <footer class="usa-footer">
                <div class="usa-identifier">
                    <section class="usa-identifier__section usa-identifier__section--masthead">
                        <div class="usa-identifier__container">
                            <div class="usa-identifier__logos">
                                <a href="https://www.gsa.gov/" class="usa-identifier__logo">
                                    <img class="usa-identifier__logo-img" src="/static/img/gsa-logo-w100.png" alt="GSA logo" role="img">
                                </a>
                            </div>
                            <div class="usa-identifier__identity text-base-lightest">
                                <p class="usa-identifier__identity-domain">FAC.gov</p>
                                <p class="usa-identifier__identity-disclaimer text-base-lightest">An official website of the
                                    <a href="https://www.gsa.gov/about-us/organization/federal-acquisition-service/technology-transformation-services">
                                        GSA’s Technology Transformation Services
                                    </a>
                                </p>
                            </div>
                        </div>
                    </section>
                    <nav class="usa-identifier__section usa-identifier__section--required-links">
                        <div class="usa-identifier__container">
                            <ul class="usa-identifier__required-links-list">
                                <li class="usa-identifier__required-links-item">
                                    <a class="usa-identifier__required-link usa-link" href="https://www.gsaig.gov/" title="Report fraud, waste, or abuse to the Office of the Inspector General">
                                        Report fraud, waste, or abuse to the Office of the Inspector General
                                    </a>
                                </li>
                                <li class="usa-identifier__required-links-item">
                                    <a class="usa-identifier__required-link usa-link" href="https://www.gsa.gov/reference/freedom-of-information-act-foia" title="Submit a Freedom of Information Act (FOIA) request">
                                        Submit a Freedom of Information Act (FOIA) request
                                    </a>
                                </li>
                                <li class="usa-identifier__required-links-item">
                                    <a class="usa-identifier__required-link usa-link" href="https://www.gsa.gov/reference/reports/budget-performance" title="View budget and performance reports">
                                        View budget and performance reports
                                    </a>
                                </li>
                                <li class="usa-identifier__required-links-item">
                                    <a class="usa-identifier__required-link usa-link" href="https://www.gsa.gov/website-information/accessibility-aids" title="View accessibility statement">
                                        View accessibility statement
                                    </a>
                                </li>
                                <li class="usa-identifier__required-links-item">
                                    <a class="usa-identifier__required-link usa-link" href="https://www.gsa.gov/about-us/organization/office-of-civil-rights/notification-and-federal-employee-antidiscrimination-and-retaliation-act-of-2002" title="View No FEAR Act data">
                                        View No FEAR Act data
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <section class="usa-identifier__section usa-identifier__section--usagov">
                        <div class="usa-identifier__container">
                            <div class="usa-identifier__usagov-description text-base-lightest">Looking for U.S. government information and services?</div>
                            <a href="https://www.usa.gov/" class="usa-link">Visit USA.gov</a>
                        </div>
                    </section>
                </div>
            </footer>
            <script>const runningInCi = false</script>
            <script>const baseUrl = "/"</script>
            <script src="/static/js/app.js" type="text/javascript"></script>
            <script src="/static/js/auth.js" type="text/javascript"></script>
        </body>
    </html>
