---
name: Deploy apps to cloud.gov
on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string

jobs:
  push-with-creds:
    name: Deploy to cloud.gov with updated credentials
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    env:
      space: ${{ inputs.environment }}

    steps:
      - uses: actions/checkout@v2
      - name: Restore npm cache
        uses: actions/cache@v3
        id: cache-npm
        with:
          path: ~/.npm
          key: fac-build-npm-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            fac-build-npm-
            fac-build-
      - name: Set up Python 3.10
        uses: actions/setup-python@v3
        with:
          python-version: "3.10"
      - name: Restore pip cache
        uses: actions/cache@v3
        id: cache-pip
        with:
          path: |
            ~/.cache/pip
            /opt/hostedtoolcache/Python/
          key: fac-build-pip-${{ hashFiles('**/requirements.txt') }}-${{ hashFiles('**/dev-requirements.txt') }}
          restore-keys: |
            fac-build-pip-${{ hashFiles('**/requirements.txt') }}-
            fac-build-pip-
            fac-build-
      - name: Install npm dependencies
        working-directory: ./backend
        run: npm install
      - name: Compile JS/CSS assets
        working-directory: ./backend
        run: npm run build
      - name: Update service keys
        uses: gsa/cg-cli-tools@key-not-accessible
        env:
          SAM_API_KEY: ${{ secrets.SAM_API_KEY }}
          DJANGO_SECRET_LOGIN_KEY: $${{ secrets.DJANGO_SECRET_LOGIN_KEY }}
          SECRET_KEY: ${{ secrets.SECRET_KEY }}
          DB_URI: ${{ secrets.DB_URI }}
        with:
          cf_username: ${{ secrets.CF_USERNAME }}
          cf_password: ${{ secrets.CF_PASSWORD }}
          cf_org: gsa-tts-oros-fac
          cf_space: ${{ env.space }}
          cf_command: update-user-provided-service fac-key-service -p '"{\"SAM_API_KEY\":\"${{ secrets.SAM_API_KEY }}\", \"DJANGO_SECRET_LOGIN_KEY\":\"${{ secrets.DJANGO_SECRET_LOGIN_KEY }}\", \"SECRET_KEY\":\"${{ secrets.SECRET_KEY}}\"}"'
      - name: Deploy fac to cloud.gov
        uses: gsa/cg-cli-tools@key-not-accessible
        with:
          cf_username: ${{ secrets.CF_USERNAME }}
          cf_password: ${{ secrets.CF_PASSWORD }}
          cf_org: gsa-tts-oros-fac
          cf_space: ${{ env.space }}
          cf_manifest: backend/manifests/{{ env.space }}/manifest-fac-${{ env.space }}.yml
      - name: Deploy postgrest to cloud.gov
        uses: gsa/cg-cli-tools@key-not-accessible
        with:
          cf_username: ${{ secrets.CF_USERNAME }}
          cf_password: ${{ secrets.CF_PASSWORD }}
          cf_org: gsa-tts-oros-fac
          cf_space: ${{ env.space }}
          cf_command: push -f backend/manifests/{{ env.space }}/manifest-postgrest-${{ env.space }}.yml --var DB_URI=${{ secrets.DB_URI }}
      - name: Deploy swagger to cloud.gov
        uses: gsa/cg-cli-tools@key-not-accessible
        with:
          cf_username: ${{ secrets.CF_USERNAME }}
          cf_password: ${{ secrets.CF_PASSWORD }}
          cf_org: gsa-tts-oros-fac
          cf_space: ${{ env.space }}
          cf_manifest: backend/manifests/{{ env.space }}/manifest-swagger-${{ env.space }}.yml
