---
name: Runs end to end tests
on:
  # workflow_call:
  workflow_dispatch: null

jobs:
  e2e-testing:
    runs-on: ubuntu-latest
    env:
      ENV: TESTING
      SAM_API_KEY: ${{ secrets.SAM_API_KEY }}
      DJANGO_BASE_URL: 'http://localhost:8000'
      DJANGO_SECRET_LOGIN_KEY: ${{ secrets.DJANGO_SECRET_LOGIN_KEY }}
      LOGIN_CLIENT_ID: ${{ secrets.LOGIN_CLIENT_ID }}
      SECRET_KEY: ${{ secrets.SECRET_KEY }}
      ALLOWED_HOSTS: '0.0.0.0 127.0.0.1 localhost'
      DISABLE_AUTH: False
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Create .env file
        run: touch .env

      - name: Start services
        working-directory: ./backend
        run: touch .env && docker compose up -d

      - name: Run Cypress
        working-directory: ./backend
        run: |
          # Add running code here
