---
name: Scan Images
on:
  workflow_dispatch:
  schedule:
    - cron: '0 8 * * 0'

jobs:
  docker-update:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      security-events: write
    env:
      GH_REPO: ghcr.io/asteel-gsa/fac
    strategy:
      fail-fast: false
      matrix:
        image:
          - name: postgrest/postgrest:latest
            tname: postgrest
          - name: ghcr.io/gsa-tts/clamav-rest/clamav:latest
            tname: clamav

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Fetch version number artifact
        uses: dawidd6/action-download-artifact@v2
        with:
          name: ${{ matrix.image.tname }}
        continue-on-error: true

      - name: Initialize version number
        shell: bash
        run: |
          current_date=$(date +%s)
          start_date=$((current_date - 31536000))
          value=`cat ${{ matrix.image.tname }}.txt || echo $start_date`
          touch  ${{ matrix.image.tname }}.txt
          echo $value > ${{ matrix.image.tname }}.txt

      - name: Pull Docker Image
        run: docker pull ${{ matrix.image.name }}

      - name: Check Image Creation Date
        run: |
          last_image_date=`cat ${{ matrix.image.tname }}.txt`
          image_creation_date=$(date -d "$(docker inspect -f '{{ .Created }}' ${{ matrix.image.name }})" +%s)

          echo $last_image_date
          echo $image_creation_date
          if [[ $image_creation_date -le $last_image_date ]]; then
            echo "We have the latest version already"
            exit 1
          else
            echo "We have an updated version"
            echo $image_creation_date > ${{ matrix.image.tname }}.txt
          fi

      - name: Scan Image
        run: docker run aquasec/trivy:latest image --timeout 5m --scanners vuln --exit-code 1 --format template --template "@contrib/sarif.tpl" -o report.sarif --severity CRITICAL,HIGH  ${{ matrix.image.name }}

      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: 'report.sarif'

      - name: Tag Image
        run: |
          date=$(date +%Y%m%d)
          docker tag ${{ matrix.image.name }} ${{ env.GH_REPO }}/${{ matrix.image.tname }}:latest
          docker tag ${{ matrix.image.name }} ${{ env.GH_REPO }}/${{ matrix.image.tname }}:$date

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Push Image
        run: docker push --all-tags ${{ env.GH_REPO }}/${{ matrix.image.tname }}

      - name: Upload version number
        uses: actions/upload-artifact@v3
        with:
          name: ${{ matrix.image.tname }}
          path: ${{ matrix.image.tname }}.txt
