---
name: Runs linting and tests
on:
  workflow_dispatch:

jobs:
  linting:
    runs-on: ubuntu-latest
    env:
      ENV: TESTING
      SECRET_KEY: secrets.SECRET_KEY
    steps:
      - uses: actions/checkout@v3
      - name: Restore npm cache
        uses: actions/cache@v3
        id: cache-npm
        with:
          path: ~/.npm
          key: fac-build-npm-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            fac-build-npm-
            fac-build-
      - name: Set up Python 3.10
        uses: actions/setup-python@v3
        with:
          python-version: '3.10'
      - name: Restore pip cache
        uses: actions/cache@v3
        id: cache-pip
        with:
          path: |
            ~/.cache/pip
            /opt/hostedtoolcache/Python/
          key: fac-build-pip-${{ hashFiles('**/requirements.txt') }}-${{ hashFiles('**/dev-requirements.txt') }}
          restore-keys: |
            fac-build-pip-${{ hashFiles('**/requirements.txt') }}-
            fac-build-pip-
            fac-build-
      - name: Install linters
        working-directory: ./backend
        run: |
          python -m pip install --upgrade pip
          pip install -r dev-requirements.txt
      - name: Lint with flake8
        working-directory: ./backend
        run: flake8 . --count --show-source --statistics
      - name: Check formatting with black
        working-directory: ./backend
        run: black --check .
      - name: Run bandit
        working-directory: ./backend
        run: bandit -c pyproject.toml -r .
      - name: Run type checking
        working-directory: ./backend
        run: mypy .
      - name: Run HTML template linting
        working-directory: ./backend
        run: djlint --lint .

  frontend-linting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Restore npm cache
        uses: actions/cache@v3
        id: cache-npm
        with:
          path: ~/.npm
          key: fac-build-npm-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            fac-build-npm-
            fac-build-
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Install npm packages
        working-directory: ./backend
        run: npm ci
      - name: Lint JS & SCSS
        working-directory: ./backend
        run: npm run check-all

  test:
    runs-on: ubuntu-latest
    env:
      ENV: TESTING
      SAM_API_KEY: ${{ secrets.SAM_API_KEY }}"
      DJANGO_BASE_URL: 'http://localhost:8000'
      DJANGO_SECRET_LOGIN_KEY: ${{ secrets.DJANGO_SECRET_LOGIN_KEY }}"
      SECRET_KEY: ${{ secrets.SECRET_KEY }}
      ALLOWED_HOSTS: '0.0.0.0 127.0.0.1 localhost'
      DISABLE_AUTH: False
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: Pull Docker Hub images
        working-directory: ./backend
        run: touch .env && docker compose pull
      - uses: docker/setup-buildx-action@v1
      - uses: docker/build-push-action@v2
        with:
          context: ./backend
          cache-from: type=gha
          cache-to: type=gha,mode=max
      - name: Run Django test suite
        working-directory: ./backend
        run:
          docker-compose run web bash -c 'coverage run --parallel-mode --concurrency=multiprocessing manage.py test --parallel &&
          coverage combine && coverage report -m --fail-under=90'
