---
name: Tests for PRs
on:
  pull_request:
    branches:
      - main
      - prod
    paths:
      - '**'
      - '!docs/**'
      - 'docs/bpmn-workflow-models/**'
  workflow_dispatch: null

jobs:
  check-for-changes:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    outputs:
      requirements: ${{ steps.filter.outcome.requirements }}
      dev-requirements: ${{ steps.filter.outcome.devrequirements }}
      docker: ${{ steps.filter.outcome.docker }}
      package: ${{ steps.filter.outcome.package }}
    steps:
      - uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: |
            requirements:
              - './backend/requirements.txt'
            devrequirements:
              - './backend/dev-requirements.txt'
            docker:
              - './backend/Dockerfile'
            package:
              - './backend/package.json'

  # Testing for all main and prod PRs
  test-and-lint-docker-build:
    needs: [check-for-changes]
    if: ${{ needs.check-for-changes.outputs.requirements == 'true' || needs.check-for-changes.outputs.dev-requirements == 'true' || needs.check-for-changes.outputs.docker == 'true' || needs.check-for-changes.outputs.package == 'true' }}
    uses: ./.github/workflows/test-and-lint-docker-build.yml
    secrets: inherit

  test-and-lint-from-ghcr:
    needs: [check-for-changes]
    if: ${{ needs.check-for-changes.outputs.requirements == 'false' && needs.check-for-changes.outputs.dev-requirements == 'false' && needs.check-for-changes.outputs.docker == 'false' && needs.check-for-changes.outputs.package == 'false' }}
    uses: ./.github/workflows/test-and-lint-from-ghcr.yml
    secrets: inherit

  # Update BPMN diagram
  sync-BPMN:
    uses: ./.github/workflows/add-bpmn-renders.yml
    secrets: inherit

  # Create terraform plan as part of the PR review process
  # PR to main before dev deploy
  plan-terraform-dev:
    if: ${{ github.base_ref == 'main' }}
    uses: ./.github/workflows/terraform-plan-env.yml
    with:
      environment: "dev"
    secrets: inherit

  plan-terraform-management:
    if: ${{ github.base_ref == 'main' }}
    uses: ./.github/workflows/terraform-plan-env.yml
    with:
      environment: "management"
    secrets: inherit

  # PR for release before staging deploy
  plan-terraform-stage:
    if: ${{ github.base_ref == 'prod' }}
    uses: ./.github/workflows/terraform-plan-env.yml
    with:
      environment: "staging"
    secrets: inherit

  # PR for release before prod deploy
  plan-terraform-prod:
    # This uses the same trigger as staging because prod deploy is tied to tags
    if: ${{ github.base_ref == 'prod' }}
    uses: ./.github/workflows/terraform-plan-env.yml
    with:
      environment: "production"
    secrets: inherit

