name: Deploy to the dev and management cloud.gov environments
on:
  push:
    branches:
      - main

jobs:
  # ensure that every time a push to main occurs, the container is built and published to ghcr
  build-container:
    uses: ./.github/workflows/build-docker-container.yml
    secrets: inherit
    permissions:
      contents: read
      packages: write
    with:
      docker-name: fac
      image-name: web-container
      repo-name: gsa-tts/fac
      work-dir: ./backend

  # testing
  test-and-lint:
    needs: [build-container]
    uses: ./.github/workflows/test-and-lint-from-ghcr.yml
    secrets: inherit

  # deploy to Dev & Management spaces
  deploy-infrastructure-dev:
    name: Deploy infrastructure (dev)
    needs:
      - test-and-lint
    uses: ./.github/workflows/terraform-apply-env.yml
    with:
      environment: "dev"
    secrets: inherit

  deploy-infastructure-management:
    name: Deploy infrastructure (dev)
    needs:
      - test-and-lint
    uses: ./.github/workflows/terraform-apply-env.yml
    with:
      environment: "management"
    secrets: inherit

  deploy-dev:
    name: Deploy dev app to cloud.gov
    needs:
      - deploy-infrastructure-dev
    uses: ./.github/workflows/deploy-apps.yml
    with:
      environment: "dev"
    secrets: inherit

  scan-dev-post-deploy:
    name: Zap scan of the dev site
    needs:
      - deploy-dev
    uses: ./.github/workflows/zap-scan.yml
    with:
      url: "https://fac-dev.app.cloud.gov/"

