---
name: Run OWASP-ZAP Scan
on:
  workflow_call:
    inputs:
      url:
        required: true
        type: string

jobs:
  zap-scan:
    name: Scan site with OWASP-ZAP
    runs-on: ubuntu-latest
    env:
      url: ${{ inputs.url }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: ZAP Scan of ${{ env.url }}
        uses: zaproxy/action-baseline@v0.9.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          docker_name: 'owasp/zap2docker-stable'
          target: '${{ env.url }}'
          rules_file_name: 'zap.conf'
          allow_issue_writing: false
          fail_action: false
